/*
Syntax error: Functions may only be defined at the root of a document.
        on line 53 of stylesheets/sass/bourbon/css3/_background-image.scss
        from line 9 of stylesheets/sass/bourbon/_bourbon.scss
        from line 1 of stylesheets/sass/style.scss

48:         $gradients: $gradients, nth($images, $i);
49:       }
50:     }
51:   }
52: 
53:   @function render-gradients($gradients, $vendor: false) {
54:     @if $count == 1 {
55:       $vendor-gradients: false;
56:       @if $vendor {
57:         $vendor-gradients: -#{$vendor}-linear-gradient($gradients);
58:       }

Backtrace:
stylesheets/sass/bourbon/css3/_background-image.scss:53
stylesheets/sass/bourbon/_bourbon.scss:9
stylesheets/sass/style.scss:1
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/check_nesting.rb:12:in `visit'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/check_nesting.rb:26:in `visit_children'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:39:in `visit'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/check_nesting.rb:14:in `visit'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/check_nesting.rb:26:in `visit_children'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/check_nesting.rb:33:in `visit_root'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/check_nesting.rb:14:in `visit'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:24:in `visit'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:143:in `visit_import'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:144:in `block in visit_import'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:144:in `map'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:144:in `visit_import'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/tree/root_node.rb:20:in `render'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/engine.rb:300:in `_render'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/engine.rb:247:in `render'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:175:in `each'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:173:in `each'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:252:in `block (4 levels) in watch'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm/path.rb:73:in `call'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm/path.rb:73:in `run_callback'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm/path.rb:55:in `callback_action'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm/path.rb:35:in `update'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm/state/directory.rb:37:in `each'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm/state/directory.rb:37:in `modified'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm/state/directory.rb:18:in `refresh'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm/monitor.rb:26:in `run'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/vendor/fssm/lib/fssm.rb:20:in `monitor'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/plugin/compiler.rb:245:in `watch'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/plugin.rb:111:in `method_missing'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/exec.rb:421:in `watch_or_update'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/exec.rb:302:in `process_result'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/exec.rb:41:in `parse'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/lib/sass/exec.rb:21:in `parse!'
/Users/training/.rvm/gems/ruby-1.9.2-p290/gems/sass-3.1.10/bin/sass:8:in `<top (required)>'
/Users/training/.rvm/gems/ruby-1.9.2-p290/bin/sass:19:in `load'
/Users/training/.rvm/gems/ruby-1.9.2-p290/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Functions may only be defined at the root of a document.\A         on line 53 of stylesheets/sass/bourbon/css3/_background-image.scss\A         from line 9 of stylesheets/sass/bourbon/_bourbon.scss\A         from line 1 of stylesheets/sass/style.scss\A \A 48:         $gradients: $gradients, nth($images, $i);\A 49:       }\A 50:     }\A 51:   }\A 52: \A 53:   @function render-gradients($gradients, $vendor: false) {\A 54:     @if $count == 1 {\A 55:       $vendor-gradients: false;\A 56:       @if $vendor {\A 57:         $vendor-gradients: -#{$vendor}-linear-gradient($gradients);\A 58:       }"; }
