@import "setup";

.px {
  height: convert-units(10, "px");
}

.pt {
  font-size: convert-units(16, "pt");
}

.deg {
  transform: rotate(convert-units(180, "deg"));
}

.string {
  padding-top: convert-units("stringy", "px");
}
