@import "setup";

.px {
  height: _convert-units(12, "px");
}

.pt {
  font-size: _convert-units(16, "pt");
}

.deg {
  transform: rotate(_convert-units(180, "deg"));
}

.string {
  padding-top: _convert-units(stringy, "px");
}
