@mixin border-radius ($radii) {
  -moz-border-radius: $radii;
  -webkit-border-radius: $radii;
  border-radius: $radii;
}

// Box-Shadow Mixin Requires Sass v3.1.1+
@mixin box-shadow ($shadow-1,
  $shadow-2: false, $shadow-3: false,
  $shadow-4: false, $shadow-5: false,
  $shadow-6: false, $shadow-7: false,
  $shadow-8: false, $shadow-9: false)
  {
    $full: $shadow-1;
    @each $shadow in
      $shadow-2, $shadow-3,
      $shadow-4, $shadow-5,
      $shadow-6, $shadow-7,
      $shadow-8, $shadow-9{
        @if $shadow {
          $full: $full, $shadow;
        }
      }
  -webkit-box-shadow: $full;
  -moz-box-shadow: $full;
  -o-box-shadow: $full;
  box-shadow: $full;
}

@mixin linear-gradient ($from, $to) {
  background: $from;
  background: -moz-linear-gradient(top, $from, $to);    // FF3.6
  background: -ms-linear-gradient(top, $from, $to);     // IE10
  background: -o-linear-gradient(top, $from, $to);      // Opera 11.10+
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, $from), color-stop(1, $to)); // Saf4+, Chrome
  background: -webkit-linear-gradient(top, $from, $to); // Chrome 10+, Saf5.1+
  background: linear-gradient(top, $from, $to);
}

@mixin simple-color ($base-hue, $base-saturation, $base-lightness) {
  $start-gradient: hsl($base-hue, $base-saturation, $base-lightness);
  $stop-gradient: saturate(darken(hsl($base-hue, $base-saturation, $base-lightness), 11%), 9%);
  $border: saturate(darken(hsl($base-hue, $base-saturation, $base-lightness), 14%), 9%);
  $inset-shadow: desaturate(lighten(hsl($base-hue, $base-saturation, $base-lightness), 14%), 8%);
  $text-shadow: saturate(darken(hsl($base-hue, $base-saturation, $base-lightness), 18%), 15%);
  $color: hsl(0, 0, 100%);

  @if $base-lightness > 70% {
    $color: hsl(0, 0, 20%);
    $text-shadow: saturate(lighten(hsl($base-hue, $base-saturation, $base-lightness), 4%), 10%);
  }

  @include linear-gradient ($start-gradient, $stop-gradient);
  border: 1px solid $border;
  @include border-radius (3px);
  @include box-shadow (inset 0 1px 0 0 $inset-shadow);
  color: $color;
  font-weight: bold;
  padding: 8px;
  text-shadow: 0 1px 0 $text-shadow;
  width: 150px;

  &:hover {
    $start-gradient: desaturate(darken(hsl($base-hue, $base-saturation, $base-lightness), 5%), 4%);
    $stop-gradient: saturate(darken(hsl($base-hue, $base-saturation, $base-lightness), 14%), 8%);
    $inset-shadow: desaturate(lighten(hsl($base-hue, $base-saturation, $base-lightness), 5%), 7%);

    @include linear-gradient ($start-gradient, $stop-gradient);
    @include box-shadow (inset 0 1px 0 0 $inset-shadow);
    cursor: pointer;
  }

  &:active {
    $border: saturate(darken(hsl($base-hue, $base-saturation, $base-lightness), 14%), 9%);
    $inset-shadow: saturate(darken(hsl($base-hue, $base-saturation, $base-lightness), 17%), 7%);

    @include box-shadow (inset 0 0 8px 4px $inset-shadow, inset 0 0 8px 4px $inset-shadow, 0 1px 1px 0 #eee);
    border: 1px solid $border;
  }
}