---
layout: docs
title: Bourbon Documentation
permalink: /docs/
meta_keywords: Bourbon, documentation, sass, scss, library, framework, syntactically awesome stylesheets, css, web design, web development, thoughtbot, open source
meta_description: Read the Bourbon Docs for mixins, functions, and addons
---

{% include navigation.html %}

<div class="main-content">
  <div class="main-inner">
    <h1 id="mixins" class="">Mixins</h1>
    {% include mixins.html %}

    <h1 id="functions">Functions</h1>
    {% include functions.html %}

    <h1 id="add-ons">Add-ons</h1>
    {% include addons.html %}

    <h1 id="settings">Settings</h1>
    {% include settings.html %}

    <h1 id="complete-list">Complete List</h1>
    <section class="complete-list">
      {% include complete-list.html %}
    </section>

    <h1 id="footer"></h1>
    <section class="footer">
      {% include footer.html %}
    </section>
  </div>
</div>
