---
title: Bourbon Sass Mixins Library
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="A simple and lightweight mixin library for Sass.">
    <meta name="keywords" content="Bourbon, sass, scss, library, framework, syntactically awesome stylesheets, css" >
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="javascripts/waypoints.min.js"></script>
    <script src="javascripts/ticker.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1485842-21']);
      _gaq.push(['_setDomainName', 'bourbon.io']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <script type="text/javascript" src="//use.typekit.net/icc0mhe.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <div class="main-content">
      {% include navigation.html %}

      <div class="main-inner">
        <section class="intro-wrapper">
          <article>
            <h1 class="logo">Bourbon &ndash; Sass Mixin Library</h1>
            <h2 class="tagline">A simple and lightweight mixin library for Sass.</h2>

            {% include intro.html %}
          </article>
        </section>

        <h1 id="mixins" class="">Mixins</h1>
        <section class="mixins">
          {% include animation.html %}
          {% include appearance.html %}
          {% include background.html %}
          {% include background-image.html %}
          {% include background-size.html %}
          {% include border-image.html %}
          {% include border-radius.html %}
          {% include box-shadow.html %}
          {% include box-sizing.html %}
          {% include columns.html %}
          {% include flex-box.html %}
          {% include font-face.html %}
          {% include hidpi-media-query.html %}
          {% include linear-gradient.html %}
          {% include radial-gradient.html %}
          {% include transform.html %}
          {% include transitions.html %}
          {% include user-select.html %}
        </section>

        <h1 id="functions">Functions</h1>
        <section ckass="functions">
          {% include compact.html %}
          {% include flex-grid.html %}
          {% include golden-ratio.html %}
          {% include grid-width.html %}
          {% include linear-gradient-function.html %}
          {% include modular-scale.html %}
          {% include radial-gradient-function.html %}
          {% include tint-shade.html %}
        </section>

        <h1 id="add-ons">Add-ons</h1>
        <section class="addons">
          {% include buttons.html %}
          {% include clearfix.html %}
          {% include font-family.html %}
          {% include hide-text.html %}
          {% include html5-input-types.html %}
          {% include inline-block.html %}
          {% include position.html %}
          {% include timing-functions.html %}
        </section>

        <h1 id="complete-list">Complete List</h1>
        <section class="complete-list">
          {% include complete-list.html %}
        </section>

        <h1 id="footer"></h1>
        <section class="footer">
          {% include footer.html %}
        </section>

      </div>
    </div>
  </body>
</html>
