---
title: Bourbon Sass Mixins Library
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  </head>
  <body>
    <div class="main-content">
      {% include navigation.html %}

      <div class="main-inner">
        <h1>Bourbon &ndash; Sass Mixin Library</h1>
        {% include intro.html %}
        <h1 id="mixins">Mixins</h1>
        {% include animation.html %}
        {% include background-image.html %}
        {% include border-image.html %}
        {% include border-radius.html %}
        {% include box-shadow.html %}
        {% include box-sizing.html %}
        {% include flex-box.html %}
        {% include inline-block.html %}
        {% include linear-gradient.html %}
        {% include position.html %}
        {% include radial-gradient.html %}
        {% include transform.html %}
        {% include transform-origin.html %}
        {% include transitions.html %}
        <h1 id="functions">Functions</h1>
        {% include compact.html %}
        {% include golden-ratio.html %}
        {% include grid-width.html %}
        {% include linear-gradient-function.html %}
        {% include tint-shade.html %}
        <h1 id="add-ons">Add-ons</h1>
        {% include buttons.html %}
        {% include html5-input-types.html %}
        {% include timing-functions.html %}
      </div>
    </div>
  </body>
</html>
