<article id="border-color" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Border-color</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_directional-values.scss">View source</a>
  </header>
  <p>The <code>border-color</code> mixin accepts up to four values, including <code>null</code>, and uses the <a href="#directional-property">directional-property</a> mixin to map them to their respective directions.</p>

{% highlight scss %}
@include border-color(red green null blue);
{% endhighlight %}

<h3>CSS Output</h3>
{% highlight scss %}
border-top-color: red;
border-right-color: green;
border-left-color: blue;
{% endhighlight %}
</article>
