<article id="border-width" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Border Width</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_directional-values.scss">View source</a>
  </header>
  <p>The <code>border-width</code> mixin accepts up to four widths, including <code>null</code>, and uses the <a href="#directional-property">directional-property</a> mixin to map them to their respective directions.</p>

{% highlight scss %}
@include border-width(1em 20px null 100%);
{% endhighlight %}

<h3>CSS Output</h3>
{% highlight scss %}
border-top-width: 1em;
border-right-width: 20px;
border-left-width: 100%;
{% endhighlight %}
</article>
