<article id="clearfix" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Clearfix</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_clearfix.scss">View source</a>
  </header>
  <p>Provides an easy way to include a clearfix for containing floats. We use this <a href="http://cssmojo.com/latest_new_clearfix_so_far">modern clearfix</a> from cssmojo.</p>

{% highlight scss %}
.wrapper {
  @include clearfix;
}
{% endhighlight %}

<h3>CSS Output</h3>

{% highlight css %}
.wrapper::after {
  clear: both;
  content: "";
  display: table;
}
{% endhighlight %}

</article>
