<article id="directional-property" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Directional Property</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/helpers/_directional-values.scss">View source</a>
  </header>
  <p class="alert"><b>Deprecation Warning:</b> This mixin has been deprecated and will be removed in v5.0.</p>
  <p>A helper mixin enabling short-hand notation for directional properties. It accepts a prefix, suffix, and array of up to four values that map to top, right, bottom, and left, respectively. You can optionally pass in <code>null</code> for the suffix argument to ignore it. You can optionally pass a <code>null</code> argument for a directional value to ignore it.</p>
  <p>This mixin is mostly used as a helper for others. See <a href="#border-color">border-color</a>, <a href="#border-style">border-style</a>, <a href="#border-width">border-width</a>, <a href="#margin">margin</a>, and <a href="#padding">padding</a>.</p>

{% highlight scss %}
@include directional-property(border, width, 10px null 4px 3px);
{% endhighlight %}

<h3>CSS Output</h3>
{% highlight scss %}
border-top-width: 10px;
border-bottom-width: 4px;
border-left-width: 3px;
{% endhighlight %}
</article>
