<article id="ellipsis" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Ellipsis</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_ellipsis.scss">View source</a>
  </header>
  <p>This mixin will truncate text, adding an ellipsis to represent overflow. It accepts an optional max-width argument, default max-width is <code>100%</code>.</p>

{% highlight scss %}
div {
  @include ellipsis(50%);
}
{% endhighlight %}
</article>
