<article id="font-stacks" data-type="variable">
  <header class="title-bar">
    <h2 class="title">Font Stacks</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/addons/_font-stacks.scss">View source</a>
  </header>
  <p>A series of default font stacks available as variables.</p>

{% highlight scss %}
font-family: $font-stack-georgia;
font-family: $font-stack-helvetica;
font-family: $font-stack-lucida-grande;
font-family: $font-stack-monospace;
font-family: $font-stack-verdana;
{% endhighlight %}

  <h3>CSS Output</h3>
{% highlight scss %}
font-family: "Georgia", "Cambria", "Times New Roman", "Times", serif;
font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
font-family: "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;
font-family: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;
font-family: "Verdana", "Geneva", sans-serif;
{% endhighlight %}
</article>
