<article id="hide-text" data-type="mixin">
  <div class="title-bar">
    <h2 class="title">Hide-text</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_hide-text.scss">View Source</a>
  </div>
  <p>Hide-text is an image replacement mixin. It is based off the <a href="https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757c9e03dda4e463fb0d4db5a5f82d7">HTML5-Boilerplate image-replacement</a>.</p>
  <p>This image replacement technique is an alternative to the text-indent technique, which has <a href="http://nicolasgallagher.com/another-css-image-replacement-technique/">performance and other benefits</a>.</p>

{% highlight scss %}
div {
  @include hide-text;
  background-image: url(logo.png);
}
{% endhighlight %}
</article>
