<article id="hide-text" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Hide Text</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/addons/_hide-text.scss">View Source</a>
  </header>
  <p>Hide text to show a background image (a logo, for example). It is based on the <a href="//zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement">the "Kellum Method" image replacement</a>.</p>
  <p>This image replacement is an improvement over the HTML5 Boilerplate method, while still providing the same benefits.</p>
  <p>A height declaration is no longer required, but inline-level elements will need block-level display styles ("block", "inline-block", etc) applied.</p>

{% highlight scss %}
.element {
  @include hide-text;
  background-image: url(logo.png);
}
{% endhighlight %}

  <h3>CSS Output</h3>
{% highlight css %}
.element {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background-image: url(logo.png);
}
{% endhighlight %}
</article>
