<article id="html5-input-types" data-type="variable">
  <header class="title-bar">
    <h2 class="title">HTML5 Input Types</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_html5-input-types.scss">View source</a>
  </header>
  <p>This addon provides you with five variables which each contain a list of all html5 input types.</p>
  <p>Three that render as text-based inputs, excluding textarea. In other words, it allows for easy targeting of all inputs that mimic <code>input[type="text"]</code>.</p>
  <ul>
    <li><code>#{$all-text-inputs}</code></li>
    <li><code>#{$all-text-inputs-hover}</code>&mdash; generates selectors that target all-text-inputs with <code>:hover</code> pseudo-classes</li>
    <li><code>#{$all-text-inputs-focus}</code>&mdash; generates selectors that target all-text-inputs with <code>:focus</code> pseudo-classes</li>
    <li><code>#{$all-text-inputs-active}</code>&mdash; generates selectors that target all-text-inputs with <code>:active</code> pseudo-classes</li>
  </ul>

  <p>Four that render as button-based inputs, excluding button. In other words, it allows for easy targeting of all inputs that mimic <code>input[type="submit"]</code>.</p>
  <ul>
    <li><code>#{$all-button-inputs}</code></li>
    <li><code>#{$all-button-inputs-hover}</code>&mdash; generates selectors that target all-button-inputs with <code>:hover</code> pseudo-classes</li>
    <li><code>#{$all-button-inputs-focus}</code>&mdash; generates selectors that target all-button-inputs with <code>:focus</code> pseudo-classes</li>
    <li><code>#{$all-button-inputs-active}</code>&mdash; generates selectors that target all-button-inputs with <code>:active</code> pseudo-classes</li>
  </ul>
  <p>Note: You must use interpolation with the variable&mdash;<code>#{ }</code>.</p>

{% highlight scss %}
#{$all-text-inputs} {
  border: 1px solid green;
}

#{$all-text-inputs-hover} { // Target the :hover pseudo-class
  background: yellow;
}

#{$all-text-inputs-focus} { // Target the :focus pseudo-class
  background: white;
}

#{$all-text-inputs-active} { // Target the :active pseudo-class
  background: blue;
}

#{$all-button-inputs} {
  background: green;
}

#{$all-button-inputs-hover} { // Target the :hover pseudo-class
  background: yellow;
}

#{$all-button-inputs-focus} { // Target the :focus pseudo-class
  background: white;
}

#{$all-button-inputs-active} { // Target the :active pseudo-class
  background: blue;
}
{% endhighlight %}

<h3>CSS Output</h3>
{% highlight scss %}
input[type="email"], input[type="number"],   input[type="password"], input[type="search"],
input[type="tel"],   input[type="text"],     input[type="url"],      input[type="color"],
input[type="date"],  input[type="datetime"], input[type="datetime-local"],
input[type="month"], input[type="time"],     input[type="week"] {
  background: green;
}

input[type="email"]:hover, input[type="number"]:hover,   input[type="password"]:hover, input[type="search"]:hover,
input[type="tel"]:hover,   input[type="text"]:hover,     input[type="url"]:hover,      input[type="color"]:hover,
input[type="date"]:hover,  input[type="datetime"]:hover, input[type="datetime-local"]:hover,
input[type="month"]:hover, input[type="time"]:hover,     input[type="week"]:hover {
  background: yellow;
}

input[type="email"]:focus, input[type="number"]:focus,   input[type="password"]:focus, input[type="search"]:focus,
input[type="tel"]:focus,   input[type="text"]:focus,     input[type="url"]:focus,      input[type="color"]:focus,
input[type="date"]:focus,  input[type="datetime"]:focus, input[type="datetime-local"]:focus,
input[type="month"]:focus, input[type="time"]:focus,     input[type="week"]:focus {
  background: white;
}

input[type="email"]:active, input[type="number"]:active,   input[type="password"]:active, input[type="search"]:active,
input[type="tel"]:active,   input[type="text"]:active,     input[type="url"]:active,      input[type="color"]:active,
input[type="date"]:active,  input[type="datetime"]:active, input[type="datetime-local"]:active,
input[type="month"]:active, input[type="time"]:active,     input[type="week"]:active {
  background: blue;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: green;
}

input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: yellow;
}

input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  background: white;
}

input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  background: blue;
}
{% endhighlight %}

</article>
