<article id="margin" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Margin</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_directional-values.scss">View source</a>
  </header>
  <p>The margin mixin accepts up to four values, including <code>null</code>, and uses the <a href="#directional-property">directional-property</a> mixin to map them to their respective directions.

{% highlight scss %}
@include margin(null 10px 3em 20vh);
{% endhighlight %}

<h3>CSS Output</h3>
{% highlight scss %}
margin-right: 10px;
margin-bottom: 3em;
margin-left: 20vh;
{% endhighlight %}
</article>
