<article id="size" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Size</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_size.scss">View source</a>
  </header>
  <p>Width &times; Height. Accepts all units. Unitless values default to px.</p>

{% highlight scss %}
@include size(25);        // width: 25px; height: 25px;
@include size(30px 70px); // width: 30px; height: 70px;
@include size(auto 80px); // width: auto; height: 80px;
{% endhighlight %}
</article>


