<article id="word-wrap" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Word Wrap</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/addons/_word-wrap.scss">View Source</a>
  </header>
  <p>The <code>word-wrap</code> mixin makes it easy to force long text (like URLs) to wrap instead of breaking your layout.</p>
  <p>It uses the <code>($word-wrap)</code>argument, with a default value of <code>break-word</code>.</p>

{% highlight scss %}
@include word-wrap;
@include word-wrap(normal);
{% endhighlight %}
</article>
