//************************************************************************//
// Navigation
//************************************************************************//
.logo {
  @include hide-text;
  @include size(185px 58px);
  background: url(../images/shared/bourbon-logo.png) no-repeat transparent;
  background-size: contain;
  border: 0;
  box-shadow: none;
  display: block;
  margin: 1.5em auto .5em 1em;
  padding: 0;

  @include hidpi {
    background-image: url(../images/shared/bourbon-logo@2x.png);
  }
}

nav.fixed-nav {
  @include position(fixed, 0px null null 0px);
  background: #fff;
  box-shadow: 0 0 .5em 1px darken($background-color, 10%);
  height: 100%;
  overflow: auto;
  width: $docs-nav-width;

  .list {
    margin: 0;
    padding: 0;


    li {
      line-height: 170%;
      list-style-type: none;
      padding: .3em 0;

      &:last-child {
        margin-bottom: 2em;
      }

      &.title:not(:first-child) {
        margin-bottom: 5px;
        padding-top: 2em;
      }

      &.title:last-child {
        margin-bottom: 30px;
      }

      &.complete-list {
        margin-top: 1em;
        padding-top: 1em;
      }


      &.deprecated {
        text-decoration: line-through;
      }

      &.new {
        a:after {
          border: 1px $blue solid;
          border-radius: $border-radius;
          color: $blue;
          content: "New";
          display: inline-block;
          font-size: 10px;
          font-weight: bold;
          letter-spacing: .1em;
          line-height: 1em;
          margin-left: 1em;
          padding: .5em 1em;
          text-transform: uppercase;
        }
      }

      a {
        @include transition;
        display: block;
        font-size: $small-font-size;
        padding: 0 0 0 6em;
        position: relative;

        &.active, &.inview {
          &:before {
            @include position(absolute, 12px null null 42px);
            border-top: .25em solid #ccc;
            content: '';
            display: block;
            width: .8em;

          }
        }

        &.active {
          &:before {
            border-color: $orange;
          }
        }

        &.dash-app {
          h3 {
            display: inline-block;
          }

          &:after {
            content: "\2192";
            display: inline-block;
            margin-left: .5em;
          }
        }

        h3 {
          color: hsl(0, 0%, 30%);
          font-size: $small-font-size;
          font-weight: bold;
          margin: 0;
          text-shadow: 0 1px 0 white;
          text-transform: uppercase;

          &:hover {
            color: hsl(0, 0%, 40%);
          }
        }
      }
    }
  }
}

.social {
  @include clearfix;
  @include linear-gradient(#f47a33, #f26234);
  margin-top: 0;
  padding: .25em 4em;

  li {
    @include calc(width, '100% / 3');
    display: inline-block;
    float: left;
  }

  a {
    @include hide-text;
    @include size(25px);
    background: url('../images/documentation/social-icons.svg') no-repeat center center;
    background-size: 300%;
    display: block;
    margin: 0 auto;

    &.twitter {
      background-position: left center;
    }

    &.gitter {
      background-position: right center;
    }
  }
}
