//************************************************************************//
// Solarized Dark Theme for code highlighting https://github.com/jrunning/github-solarized
//************************************************************************//
.highlight { color: #839496; background-color: #002b36; }
.highlight .err { color: #dc322f; background-color: #073642; }
.highlight .cp { color: #586e75; font-weight: bold; }
.highlight .cs { color: #586e75; font-weight: bold; font-style: italic; }
.highlight .gd { color: #839496; background-color: #fdd; }
.highlight .gd .x { background-color: #faa; }
.highlight .ge { font-style: italic; }
.highlight .gi { background-color: #dfd; }
.highlight .gi .x { background-color: #afa; }
.highlight .go { color: #839496; }
.highlight .gu { color: #d33682; font-weight: bold; }
.highlight .gs { font-weight: bold; }
.highlight .gr, .highlight .gt { color: #d33682; }
.highlight .gh { color: #586e75; }
.highlight .gp { color: #586e75; }
.highlight .nb { color: #859900; }
.highlight .ni { color: #d33682; }
.highlight .nt { color: #268bd2; }
.highlight .w { color: #586e75; }
.highlight .sr { color: #859900; }
.highlight .ss { color: #2aa198; }
.highlight .c, .highlight .cm, .highlight .c1 { color: #586e75; font-style: italic; }
.highlight .k, .highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .o, .highlight .ow { font-weight: bold; }
.highlight .k { color: #859900; }
.highlight .kt { color: #b58900; }
.highlight .bp { color: #93a1a1; }
.highlight .nn { color: #93a1a1; }
.highlight .nc { color: #b58900; font-weight: bold; }
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .il { color: #2aa198; }
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .s1 { color: #2aa198; }
.highlight .na, .highlight .nv { color: #2aa198; }
.highlight .no { color: #b58900; }
.highlight .vc, .highlight .vg, .highlight .vi { color: #268bd2; }
.highlight .ne, .highlight .nf { color: #dc322f; font-weight: bold; }

