@function _linear-gradient-parser($image) {
  $image: unquote($image);
  $gradients: ();
  $start: str-index($image, "(");
  $end: str-index($image, ",");
  $first-val: str-slice($image, $start + 1, $end - 1);

  $prefix: str-slice($image, 0, $start);
  $suffix: str-slice($image, $end, str-length($image));

  $has-multiple-vals: str-index($first-val, " ");
  $has-single-position: unquote(_position-flipper($first-val) + "");
  $has-angle: _is-num(str-slice($first-val, 0, 0));

  @if $has-multiple-vals {
    $val-1: str-slice($first-val, 0, $has-multiple-vals - 1 );
    $val-2: str-slice($first-val, $has-multiple-vals + 1, str-length($first-val));
    $val-3: null;
    $has-val-3: str-index($val-2, " ");

    @if $has-val-3 {
      $val-3: str-slice($val-2, $has-val-3 + 1, str-length($val-2));
      $val-2: str-slice($val-2, 0, $has-val-3 - 1);
    }

    $pos: _position-flipper($val-1) _position-flipper($val-2) _position-flipper($val-3);
    $pos: unquote($pos + "");

    @if $val-1 == "to" {
      $gradients: (
        webkit-image: -webkit- + $prefix + $pos + $suffix,
        spec-image: $image
      );
    }

    @else {
      $gradients: (
        webkit-image: -webkit- + $image,
        spec-image: $prefix + "to " + $pos + $suffix
      );
    }
  }

  @else if $has-single-position != "" {
    $pos: unquote($has-single-position + "");

    $gradients: (
      webkit-image: -webkit- + $image,
      spec-image: $prefix + "to " + $pos + $suffix
    );
  }

  @else if $has-angle {
    // Rotate degree for webkit
    $offset: null;
    $unit-short:  str-slice($first-val, str-length($first-val) - 2, str-length($first-val));
    $unit-long:   str-slice($first-val, str-length($first-val) - 3, str-length($first-val));

    @if ($unit-long == "grad") or
        ($unit-long == "turn") {
      $offset: if($unit-long == "grad", -100grad * 3, -0.75turn);
    }

    @else if ($unit-short == "deg") or
             ($unit-short == "rad") {
      $offset: if($unit-short == "deg", -90 * 3, 1.6rad);
    }

    @if $offset {
      $num: _str-to-num($first-val);

      $gradients: (
        webkit-image: -webkit- + $prefix + ($offset - $num) + $suffix,
        spec-image: $image
      );
    }
  }

  @else {
    $gradients: (
      webkit-image: -webkit- + $image,
      spec-image: $image
    );
  }

  @return $gradients;
}
