<section class="addons">
  {% include addons/buttons.html %}
  {% include addons/clearfix.html %}
  {% include addons/font-family.html %}
  {% include addons/hide-text.html %}
  {% include addons/html5-input-types.html %}
  {% include addons/inline-block.html %}
  {% include addons/px-to-em.html %}
  {% include addons/position.html %}
  {% include addons/settings.html %}
  {% include addons/prefixer.html %}
  {% include addons/retina-image.html %}
  {% include addons/size.html %}
  {% include addons/timing-functions.html %}
  {% include addons/triangle.html %}
  {% include addons/word-wrap.html %}
</section>
