<section id="animations">
  <h2>Animations</h2>
  <p>The animation mixins support comma separated lists of values, which allows different transitions for individual properties to be described in a single style rule. Each value in the list corresponds to the value at that same position in the other properties.</p>

{% highlight css %}
box:hover {
  @include animation-name(scale, slide);
  @include animation-duration(2s);
  @include animation-timing-function(ease);
  @include animation-iteration-count(infinite);

  // Animation shorthand works the same as the CSS3 animation shorthand
  @include animation(scale slide, 2.0s, ease);
}
{% endhighlight %}
  <h3>Demo</h3>
  <section class="demo">
    <div id="run-demo" class="box"></div>
  </section>
</section>
