<article id="background-size" data-type="mixin">
  <h2>Background Size<a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_background-size.scss">View source</a></h2>
  <p>The background-size mixin supports multiple background-sizes for use with multiple background-images via comma delimitation.</p>

{% highlight scss %}
@include background-size(50% 100%); // Single
@include background-size(50% 100%, 75% 100%); // Multiple
{% endhighlight %}
</article>



