<article id="backface-visibility" data-type="mixin">
  <h2>Backface-visibility <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_backface-visibility.scss">View source</a></h2>

<p>The CSS backface-visibility property determines whether or not the back face of the element is visible when facing the user. The back face of an element always is a transparent background, letting, when visible, a mirror image of the front face be displayed.</p>

{% highlight scss %}
@include backface-visibility(visible);
{% endhighlight %}
</article>
