<section id="border-radius">
  <h2>Border Radius</h2>
  <p>border-radius will also take short-hard notation.</p>

  <section class="demo">
    <div class="wrapper">
      <h3>10px Border On All Corners</h3>
{% highlight css %}
@include border-radius(10px);
{% endhighlight %}
      <div class="example equal"></div>
    </div>

    <div class="wrapper">
      <h3>Specify the Radius for Each Corner</h3>
{% highlight css %}
@include border-radius(5px 10px 20px 30px);
{% endhighlight %}
      <div class="example different"></div>
    </div>

  </section>
</section>
