<section id="border-radius">
  <h2>Border Radius <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_border-radius.scss">View source</a></h2>

  <p class="alert"><b>Deprecation Warning: </b>The border-radius mixin is deprecated and will be removed in the next major version release. <a href="https://github.com/thoughtbot/bourbon/pull/95">Here's why.</a></p>
  <p>The border-radius mixin can take short-hand notation or the full radius expression.</p>

{% highlight scss %}
@include border-radius(10px);
@include border-radius(5px 5px 2px 2px);
{% endhighlight %}

  <p>You can also specify individual corners.</p>
{% highlight scss %}
@include border-top-left-radius(5px);
@include border-top-right-radius(5px);
@include border-bottom-right-radius(5px);
@include border-bottom-left-radius(5px);
{% endhighlight %}

  <p>Individual sides are supported as well.</p>
{% highlight scss %}
@include border-top-radius(5px);
@include border-bottom-radius(5px);
@include border-left-radius(5px);
@include border-right-radius(5px);
{% endhighlight %}
</section>
