<section id="box-shadow">
  <h2>Box Shadow</h2>
  <p>Box-shadow supports single or multiple arguments.</p>

  <section class="demo">
    <div class="wrapper">
      <h3>Single Box Shadow</h3>
{% highlight css %}
@include box-shadow(0 0 10px 0 black);
{% endhighlight %}
      <div class="example single"></div>
    </div>

    <div class="wrapper">
      <h3>Multiple comma-delimited Box Shadows</h3>
{% highlight css %}
@include box-shadow(1px 1px 10px 0 green, -1px -1px 10px 0 blue);
{% endhighlight %}
      <div class="example double"></div>
    </div>
  </section>

</section>
