<section id="font-face">
  <h2>Font-Face <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_font-face.scss">View source</a></h2>
  <p>A simple <code>@font-face</code> mixin allowing easier custom fonts integration, like so:</p>

{% highlight scss %}
@include font-face(nobile, '/fonts/nobile');
@include font-face(nobile, '/fonts/nobile_bold', bold);
@include font-face(nobile, '/fonts/nobile_italic', normal, italic);
{% endhighlight %}
</section>
