<section id="font-family">
  <h2>Font-Family</h2>
  <p>Bourbon defines four default font-families as variables for the sake of convenience:</p>

{% highlight scss %}
font-family: $helvetica;
font-family: $georgia;
font-family: $lucida-grande;
font-family: $monospace;
font-family: $verdana;
{% endhighlight %}

  <h3>CSS Output</h3>
{% highlight scss %}
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-family: Georgia, Cambria, "Times New Roman", Times, serif;
font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
font-family: Verdana, Geneva, sans-serif;
{% endhighlight %}
</section>
