<article id="credits">
  <a href="//thoughtbot.com"><img src="//images.thoughtbot.com/bourbon/thoughtbot-logo.svg"/></a>
  <p>Bourbon is maintained and funded by <a href="//thoughtbot.com">thoughtbot, inc</a>. Tweet your questions or suggestions to <a href="//twitter.com/bourbonsass">@bourbonsass</a> and while you’re at it follow us too.</p>
  <p>Copyright &copy; 2011&ndash;2017 <a href="//thoughtbot.com">thoughtbot, inc</a>. Bourbon is free software, and may be redistributed under the terms specified in the <a href="//github.com/thoughtbot/bourbon/blob/master/LICENSE.md">license</a>.</p>
</article>
