<article id="credits">
  <a href="//thoughtbot.com"><img src="//thoughtbot.com/assets/thoughtbot-logo.png"/></a>
  <p>Bourbon is maintained and funded by <a href="//thoughtbot.com">thoughtbot, inc</a>. Tweet your questions or suggestions to <a href="//twitter.com/phillapier">@phillapier</a> or <a href="//twitter.com/thoughtbot">@thoughtbot</a>.</p>
  <p>Copyright &copy; 2011&ndash;2014 <a href="//thoughtbot.com">thoughtbot, inc</a>. Bourbon is free software, and may be redistributed under the terms specified in the <a href="//github.com/thoughtbot/bourbon/blob/master/LICENSE.md">license</a>.</p>
</article>
