<section id="golden-ratio">
  <h2>Golden Ratio</h2>
  <p>Returns the golden ratio of a given number. Must provide a Pixel or Em value for first argument. Also takes a required incriment value that is a non-zero integer: ...-3, -2, -1, 1, 2, 3...</p>

  <h3>Demo Code</h3>
{% highlight css %}
div {
                    Increment Up GR with positive value
  font-size:        golden-ratio(14px,  1);    // returns: 22.652px

                    Increment Down GR with negative value
  font-size:        golden-ratio(14px, -1);    // returns: 8.653px

                    Can be used with ceil(round up) or floor(round down)
  font-size: floor( golden-ratio(14px,  1) );  // returns: 22px
  font-size:  ceil( golden-ratio(14px,  1) );  // returns: 23px
}
{% endhighlight %}
  <p>Resources: <a href="http://modularscale.com/">modularscale.com</a> & <a href="http://goldenratiocalculator.com/">goldenrationcalculator.com</a></p>

  <h3>Demo</h3>
  <section class="demo">
  </section>
</section>
