<section id="intro">
  <p>The purpose of Bourbon Sass Mixins is to provide a comprehensive library of sass mixins that are designed to be as vanilla as possible, meaning they should not deter from the original CSS syntax. The mixins contain vendor specific prefixes for all CSS3 properties for support amongst modern browsers. The prefixes also ensure graceful degradation for older browsers that support only CSS3 prefixed properties. Bourbon uses SCSS syntax.</p>
</section>

<section id="install">
  <h2>Install for Rails</h2>
  <p>In your Gemfile:</p>

{% highlight bash %}
gem 'bourbon'
{% endhighlight %}

  <p>Then run:</p>

{% highlight bash %}
$ bundle install
{% endhighlight %}

  <h3>Rails 3.1.x</h3>

  <p>Rename <code>application.css</code> to <code>application.css.scss</code>:</p>

{% highlight bash %}
$ mv app/assets/stylesheets/application.css app/assets/stylesheets/application.css.scss
{% endhighlight %}

  <p>Bourbon needs the sass files to be imported in a specific order to function properly. Therefore, you will need to disable the <code>require\_tree</code> sprocket directive.</p>
  <p>Delete the following sprocket directive in <code>application.css.scss</code>:</p>

{% highlight scss %}
*= require_tree .
{% endhighlight %}

  <p>Import bourbon at the beginning of application.css.scss:</p>

{% highlight scss %}
@import "bourbon";
{% endhighlight %}

  <p>Import all additional stylesheets from your <code>app/assets/stylesheets</code> directory underneath the bourbon import: </p>

{% highlight scss %}
@import "bourbon";
@import "home";
@import "users";
{% endhighlight %}

  <h3>Rails 3.0.10 and below </h3>
  <p>For Rails &lt; 3.1 you must run the installation rake task. Please note, you should run this task every time a new version of Bourbon is released.
    This will copy the Sass files into your project's <code>public/stylesheets/sass</code> directory.</p>

{% highlight bash %}
$ rake bourbon:install
{% endhighlight %}

  <p>Import the mixins at the beginning of your stylesheet </p>

{% highlight scss %}
@import 'bourbon/bourbon';
{% endhighlight %}

  <p></p>
  <p><em>Optional:</em> If you use a non-standard location for your sass files, you can specify the path to your sass files as an argument to the install task.</p>

{% highlight bash %}
$ rake bourbon:install[app/stylesheets]
{% endhighlight %}

  <h2>Install in a non-rails project</h2>
  <p>Clone the repository.</p>
  <p>Bourbon includes an easy way to generate a directory with all the necessary files. </p>

{% highlight bash %}
$ rake generate
{% endhighlight %}

  <p>This will create a <code>bourbon</code> directory that can be used by <code>sass --watch</code>. Move the generated directory into your project's sass directory, e.g. <code>stylesheets/sass/</code>. </p>

  <p>To output properly, Bourbon must be explicitly required (<code>-r</code>) by Sass at the command line:</p>

{% highlight bash %}
# Example (project root directory)
sass --watch stylesheets/sass:stylesheets -r ./stylesheets/sass/bourbon/lib/bourbon.rb
{% endhighlight %}

  <p>In this case, you will need to import the mixins at the beginning of your stylesheet:</p>

{% highlight scss %}
@import 'bourbon/bourbon';
{% endhighlight %}

</section>
