<section id="intro">
  <p>Bourbon is a library of sass mixins that are designed to be simple and easy to use. No configuration required.

  <ul>
    <li>
      <h4>Forget about vendor prefixes</h4>
      <p>The mixins contain up-to-date vendor prefixes for support in modern browsers.</p>
    </li>

    <li>
      <h4>Write CSS faster and easier</h4>
      <p>The library contains mixins, functions, and other addons to build kick ass web stuff.</p>
    </li>

    <li>
      <h4>Not just another framework</h4>
      <p>Bourbon keeps your code clean. It doesn't output any unwanted rules to your stylesheets.</p>
    </li>

    <li>
      <h4>Vanilla CSS syntax</h4>
      <p>The mixins aim to be as close to the original CSS syntax as possible. Bourbon uses SCSS syntax.</p>
    </li>
  </ul>

  <p><a href="http://github.com/thoughtbot/bourbon#readme">Install Bourbon</a><a href="http://github.com/thoughtbot/bourbon">View on Github</a></p>
</section>
