<article id="linear-gradient" data-type="mixin">
  <h2>Linear-gradient <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_linear-gradient.scss">View source</a></h2>
  <p>Gradient Position is optional. Position can be a degree (<code>90deg</code>). Mixin supports up to 10 color-stops.</p>
  <p>This mixin will output a fallback <code>background-color: #first-color;</code> declaration. A <code>$fallback</code> argument can be passed to change the fallback color.</p>

{% highlight scss %}
@include linear-gradient(#1e5799, #2989d8);
@include linear-gradient(to top, #8fdce5, #3dc3d1);
@include linear-gradient(to top, #8fdce5, #3dc3d1, $fallback: red);
@include linear-gradient(50deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
{% endhighlight %}

  <h3>Demo</h3>
  <section class="demo"></section>
</article>
