<section class="mixins">
  {% include animation.html %}
  {% include appearance.html %}
  {% include background.html %}
  {% include background-image.html %}
  {% include background-size.html %}
  {% include border-image.html %}
  {% include border-radius.html %}
  {% include box-shadow.html %}
  {% include box-sizing.html %}
  {% include columns.html %}
  {% include flex-box.html %}
  {% include font-face.html %}
  {% include hidpi-media-query.html %}
  {% include image-rendering.html %}
  {% include keyframes.html %}
  {% include linear-gradient.html %}
  {% include perspective.html %}
  {% include placeholder.html %}
  {% include radial-gradient.html %}
  {% include transform.html %}
  {% include transitions.html %}
  {% include user-select.html %}
</section>
