<section class="mixins">
  {% include mixins/animation.html %}
  {% include mixins/animation-delay.html %}
  {% include mixins/animation-direction.html %}
  {% include mixins/animation-duration.html %}
  {% include mixins/animation-fill-mode.html %}
  {% include mixins/animation-iteration-count.html %}
  {% include mixins/animation-name.html %}
  {% include mixins/animation-play-state.html %}
  {% include mixins/animation-timing-function.html %}
  {% include mixins/appearance.html %}
  {% include mixins/backface-visibility.html %}
  {% include mixins/background.html %}
  {% include mixins/background-image.html %}
  {% include mixins/border-image.html %}
  {% include mixins/box-sizing.html %}
  {% include mixins/calc.html %}
  {% include mixins/columns.html %}
  {% include mixins/filter.html %}
  {% include mixins/flex-box.html %}
  {% include mixins/font-face.html %}
  {% include mixins/font-feature-settings.html %}
  {% include mixins/hidpi-media-query.html %}
  {% include mixins/hyphens.html %}
  {% include mixins/image-rendering.html %}
  {% include mixins/keyframes.html %}
  {% include mixins/linear-gradient.html %}
  {% include mixins/perspective.html %}
  {% include mixins/placeholder.html %}
  {% include mixins/radial-gradient.html %}
  {% include mixins/selection.html %}
  {% include mixins/text-decoration.html %}
  {% include mixins/transform.html %}
  {% include mixins/transitions.html %}
  {% include mixins/user-select.html %}
</section>
