<nav class="fixed-nav">
  <ul>
    <!-- <input type="search" placeholder="Search..."></input> -->
    <li><a href="https://github.com/thoughtbot/bourbon">GitHub / Install</a></li>
    <li class="title"><a href="#mixins"><h3>Mixins</h3></a></li>
    <li><a href="#animations">Animations</a></li>
    <li><a href="#appearance">Appearance</a></li>
    <li><a href="#background">Background</a></li>
    <li><a href="#background-image">Background-Image</a></li>
    <li><a href="#background-size">Background-Size</a></li>
    <li><a href="#border-image">Border-Image</a></li>
    <li><a href="#border-radius">Border-Radius</a></li>
    <li><a href="#box-shadow">Box-Shadow</a></li>
    <li><a href="#box-sizing">Box-Sizing</a></li>
    <li><a href="#columns">Columns</a></li>
    <li><a href="#flex-box">Flex-Box</a></li>
    <li><a href="#font-face">Font-Face</a></li>
    <li><a href="#hidpi-media-query">HIDPI Media Query</a></li>
    <li><a href="#image-rendering">Image-rendering</a></li>
    <li><a href="#keyframes">Keyframes</a></li>
    <li><a href="#linear-gradient">Linear-Gradient</a></li>
    <li><a href="#perspective">Perspective</a></li>
    <li><a href="#placeholder">Placeholder</a></li>
    <li><a href="#radial-gradient">Radial-Gradient</a></li>
    <li><a href="#transform">Transform</a></li>
    <li><a href="#transitions">Transitions</a></li>
    <li><a href="#user-select">User-Select</a></li>

    <li class="title"><a href="#functions"><h3>Functions</h3></a><li>
    <li><a href="#compact">Compact</a></li>
    <li><a href="#flex-grid">Flex-Grid</a></li>
    <li><a href="#golden-ratio">Golden-Ratio</a></li>
    <li><a href="#grid-width">Grid-Width</a></li>
    <li><a href="#linear-gradient-function">Linear-Gradient</a></li>
    <li><a href="#modular-scale">Modular-Scale</a></li>
    <li><a href="#radial-gradient-function">Radial-Gradient</a></li>
    <li><a href="#tint-shade">Tint &amp; Shade</a></li>

    <li class="title"><a href="#add-ons"><h3>Add-ons</h3></a><li>
    <li><a href="#buttons">Buttons</a></li>
    <li><a href="#clearfix">Clearfix</a></li>
    <li><a href="#font-family">Font-Family</a></li>
    <li><a href="#hide-text">Hide-Text</a></li>
    <li><a href="#html5-input-types">HTML5 Input Types</a></li>
    <li><a href="#inline-block">Inline-Block</a></li>
    <li><a href="#position">Position</a></li>
    <li><a href="#prefixer">Prefixer</a></li>
    <li><a href="#retina-image">Retina-Image</a></li>
    <li><a href="#size">Size</a></li>
    <li><a href="#timing-functions">Timing Functions</a></li>
    <li><a href="#triangle">Triangle</a></li>

    <li class="title complete-list"><a href="#complete-list"><h3>Complete List</h3></a></li>
  </ul>
</nav>
