<nav class="fixed-nav">
  <ul class="social">
    <li><a class="github" href="https://github.com/thoughtbot/bourbon">GitHub / Install</a></li>
    <li><a class="twitter" href="https://twitter.com/bourbonsass">Twitter</a></li>
    <li><a class="gitter" href="https://gitter.im/thoughtbot/bourbon">Gitter</a></li>
  </ul>
  <a href="/"><h1 class="logo">Bourbon &ndash; Sass Mixin Library</h1></a>
  <ul class="list">
    <li class="title"><a href="#mixins"><h3>Mixins</h3></a></li>
    <li><a href="#animation">Animation</a></li>
    <li><a href="#animation-delay">Animation Delay</a></li>
    <li><a href="#animation-direction">Animation Direction</a></li>
    <li><a href="#animation-duration">Animation Duration</a></li>
    <li><a href="#animation-fill-mode">Animation Fill Mode</a></li>
    <li><a href="#animation-iteration-count">Animation Iteration Count</a></li>
    <li><a href="#animation-name">Animation Name</a></li>
    <li><a href="#animation-play-state">Animation Play State</a></li>
    <li><a href="#animation-timing-function">Animation Timing Function</a></li>
    <li><a href="#appearance">Appearance</a></li>
    <li><a href="#backface-visibility">Backface Visibility</a></li>
    <li><a href="#background">Background</a></li>
    <li><a href="#background-image">Background Image</a></li>
    <li><a href="#border-image">Border Image</a></li>
    <li class="deprecated"><a href="#box-sizing">Box Sizing</a></li>
    <li><a href="#calc">Calc</a></li>
    <li><a href="#columns">Columns</a></li>
    <li><a href="#filter">Filter</a></li>
    <li><a href="#flexbox">Flexbox</a></li>
    <li><a href="#font-face">Font Face</a></li>
    <li><a href="#font-feature-settings">Font Feature Settings</a></li>
    <li><a href="#hidpi-media-query">HiDPI Media Query</a></li>
    <li><a href="#hyphens">Hyphens</a></li>
    <li><a href="#image-rendering">Image Rendering</a></li>
    <li><a href="#keyframes">Keyframes</a></li>
    <li><a href="#linear-gradient">Linear Gradient</a></li>
    <li><a href="#perspective">Perspective</a></li>
    <li><a href="#placeholder">Placeholder</a></li>
    <li><a href="#radial-gradient">Radial Gradient</a></li>
    <li><a href="#selection">Selection</a></li>
    <li><a href="#text-decoration">Text Decoration</a></li>
    <li><a href="#transform">Transform</a></li>
    <li><a href="#transitions">Transitions</a></li>
    <li><a href="#user-select">User Select</a></li>

    <li class="title"><a href="#functions"><h3>Functions</h3></a></li>
    <li class="deprecated"><a href="#flex-grid">Flex Grid</a></li>
    <li class="deprecated"><a href="#golden-ratio">Golden Ratio</a></li>
    <li class="deprecated"><a href="#grid-width">Grid Width</a></li>
    <li><a href="#linear-gradient-function">Linear Gradient</a></li>
    <li><a href="#modular-scale">Modular Scale</a></li>
    <li><a href="#px-to-em">Pixel to Ems</a></li>
    <li><a href="#px-to-rem">Pixel to Rems</a></li>
    <li><a href="#radial-gradient-function">Radial Gradient</a></li>
    <li><a href="#strip-units">Strip Units</a></li>
    <li><a href="#tint-shade">Tint &amp; Shade</a></li>
    <li><a href="#unpack">Unpack</a></li>

    <li class="title"><a href="#add-ons"><h3>Add-ons</h3></a><li>
    <li><a href="#border-color">Border Color</a></li>
    <li><a href="#border-radius">Border Radius</a></li>
    <li><a href="#border-style">Border Style</a></li>
    <li><a href="#border-width">Border Width</a></li>
    <li class="deprecated"><a href="#buttons">Buttons</a></li>
    <li><a href="#clearfix">Clearfix</a></li>
    <li><a href="#directional-property">Directional Property</a></li>
    <li><a href="#ellipsis">Ellipsis</a></li>
    <li><a href="#font-stacks">Font Stacks</a></li>
    <li><a href="#hide-text">Hide Text</a></li>
    <li><a href="#html5-input-types">HTML5 Input Types</a></li>
    <li class="deprecated"><a href="#inline-block">Inline Block</a></li>
    <li><a href="#margin">Margin</a></li>
    <li><a href="#padding">Padding</a></li>
    <li><a href="#position">Position</a></li>
    <li><a href="#prefixer">Prefixer</a></li>
    <li><a href="#retina-image">Retina Image</a></li>
    <li><a href="#size">Size</a></li>
    <li><a href="#timing-functions">Timing Functions</a></li>
    <li><a href="#triangle">Triangle</a></li>
    <li><a href="#word-wrap">Word Wrap</a></li>

    <li class="title"><a href="#settings"><h3>Settings</h3></a><li>
    <li><a href="#asset-pipeline">Global Asset Pipeline</a></li>
    <li><a href="#global-prefixer">Global Prefixer</a></li>
    <li><a href="#em-base">Global EM Base</a></li>

    <li class="complete-list"><a href="#complete-list"><h3>Complete List</h3></a></li>
    <li><a href="dash-feed://http%3A%2F%2Fbourbon.io%2Fdocset%2FBourbon.xml" class="dash-app"><h3>Install on Dash</h3></a></li>
  </ul>
</nav>
