<nav class="fixed-nav">
  <ul>
    <!-- <input type="search" placeholder="Search..."></input> -->
    <li><a href="https://github.com/thoughtbot/bourbon">GitHub / Install</a></li>
    <li class="title"><a href="#mixins"><h3>Mixins</h3></a></li>
    <li><a href="#animations">Animations</a></li>
    <li><a href="#appearance">Appearance</a></li>
    <li><a href="#backface-visibility">Backface-visibility</a></li>
    <li><a href="#background">Background</a></li>
    <li><a href="#background-image">Background-image</a></li>
    <li><a href="#border-image">Border-image</a></li>
    <li><a href="#border-radius">Border-radius</a></li>
    <li><a href="#box-sizing">Box-sizing</a></li>
    <li><a href="#calc">Calc</a></li>
    <li><a href="#columns">Columns</a></li>
    <li><a href="#filter">Filter</a></li>
    <li><a href="#flex-box">Flex-box</a></li>
    <li><a href="#font-face">Font-face</a></li>
    <li><a href="#font-feature-settings">Font-feature-settings</a></li>
    <li><a href="#hidpi-media-query">HIDPI Media Query</a></li>
    <li><a href="#image-rendering">Image-rendering</a></li>
    <li><a href="#keyframes">Keyframes</a></li>
    <li><a href="#linear-gradient">Linear-gradient</a></li>
    <li><a href="#perspective">Perspective</a></li>
    <li><a href="#placeholder">Placeholder</a></li>
    <li><a href="#radial-gradient">Radial-gradient</a></li>
    <li><a href="#transform">Transform</a></li>
    <li><a href="#transitions">Transitions</a></li>
    <li><a href="#user-select">User-select</a></li>

    <li class="title"><a href="#functions"><h3>Functions</h3></a><li>
    <li><a href="#flex-grid">Flex-grid</a></li>
    <li><a href="#golden-ratio">Golden-ratio</a></li>
    <li><a href="#grid-width">Grid-width</a></li>
    <li><a href="#linear-gradient-function">Linear-gradient</a></li>
    <li><a href="#modular-scale">Modular-scale</a></li>
    <li><a href="#radial-gradient-function">Radial-gradient</a></li>
    <li><a href="#tint-shade">Tint &amp; Shade</a></li>

    <li class="title"><a href="#add-ons"><h3>Add-ons</h3></a><li>
    <li><a href="#buttons">Buttons</a></li>
    <li><a href="#clearfix">Clearfix</a></li>
    <li><a href="#ellipsis">Ellipsis</a></li>
    <li><a href="#font-family">Font-family</a></li>
    <li><a href="#hide-text">Hide-text</a></li>
    <li><a href="#html5-input-types">HTML5 Input Types</a></li>
    <li class="deprecated"><a href="#inline-block">Inline-block</a></li>
    <li><a href="#px-to-em">Pixel to Ems</a></li>
    <li><a href="#position">Position</a></li>
    <li><a href="#prefixer-settings">Prefixer Settings</a></li>
    <li><a href="#prefixer">Prefixer</a></li>
    <li><a href="#retina-image">Retina-image</a></li>
    <li><a href="#size">Size</a></li>
    <li><a href="#timing-functions">Timing-functions</a></li>
    <li><a href="#triangle">Triangle</a></li>

    <li class="title complete-list"><a href="#complete-list"><h3>Complete List</h3></a></li>
  </ul>
</nav>
