<article id="placeholder" data-type="mixin">
  <h2>Placeholder <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_placeholder.scss">View source</a></h2>
  <p>Outputs vendor-prefixed placeholders for styling. Must be nested in a rule-set.</p>

{% highlight scss %}
input {
  width: 300px;

  @include placeholder {
    color: red;
  }
}
{% endhighlight %}
  <h3>CSS Output</h3>
{% highlight scss %}
input {
  width: 300px;
}

input::-webkit-input-placeholder {
  color: red;
}
input:-moz-placeholder {
  color: red;
}
input::-moz-placeholder {
  color: red;
}
input:-ms-input-placeholder {
  color: red;
}
{% endhighlight %}
</article>

