<article id="px-to-em">
  <h2>Pixels to Ems<a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_px-to-em.scss">View source</a></h2>
  <p>Convert pixels to ems.</p>
  <p>For a relational value, the input is calculated based on a parent value. The default parent is 16px.<br>The parent can be changed by passing an optional second value.</p>
{% highlight scss %}
font-size: em(12);
font-size: em(12, 24);
{% endhighlight %}
  <h3>CSS Output</h3>
{% highlight scss %}
font-size: 0.75em;
font-size: 0.5em;
{% endhighlight %}
</article>

