<article id="prefixer-settings" data-type="option">
  <h2>Prefixer Settings <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_placeholder.scss">View source</a></h2>
  <p>By default, Bourbon outputs all vendor-prefixes specified by each mixin. You can optionally overwrite these global defaults by setting any of these variables to <code>false</code> at the top of your stylesheet.</p>

{% highlight scss %}
$prefix-for-webkit:    true;
$prefix-for-mozilla:   true;
$prefix-for-microsoft: true;
$prefix-for-opera:     true;
$prefix-for-spec:      true;
{% endhighlight %}
</article>

