<article id="timing-functions" data-type="parameter">
  <h2>Timing-functions <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_timing-functions.scss">View source</a></h2>
  <p>These CSS cubic-bezier timing functions are variables that can be used with CSS3 animations and transitions. The provided timing functions are the same as the jQuery UI demo: <a href="http://jqueryui.com/resources/demos/effect/easing.html">easing functions</a>.</p>

{% highlight scss %}
@include transition(all 5s $ease-in-circ);
{% endhighlight %}


  <h3>Demo</h3>
  <section class="demo">
    <ul>
      <li><code>$ease-in-quad</code><div class="box ease-in-quad"></div></li>
      <li><code>$ease-out-quad</code><div class="box ease-out-quad"></div></li>
      <li><code>$ease-in-out-quad</code><div class="box ease-in-quad"></div></li>

      <li><code>$ease-in-cubic</code><div class="box ease-in-cubic"></div></li>
      <li><code>$ease-out-cubic</code><div class="box ease-out-cubic"></div></li>
      <li><code>$ease-in-out-cubic</code><div class="box ease-in-cubic"></div></li>

      <li><code>$ease-in-quart</code><div class="box ease-in-quart"></div></li>
      <li><code>$ease-out-quart</code><div class="box ease-out-quart"></div></li>
      <li><code>$ease-in-out-quart</code><div class="box ease-in-quart"></div></li>

      <li><code>$ease-in-quint</code><div class="box ease-in-quint"></div></li>
      <li><code>$ease-out-quint</code><div class="box ease-out-quint"></div></li>
      <li><code>$ease-in-out-quint</code><div class="box ease-in-quint"></div></li>

      <li><code>$ease-in-sine</code><div class="box ease-in-sine"></div></li>
      <li><code>$ease-out-sine</code><div class="box ease-out-sine"></div></li>
      <li><code>$ease-in-out-sine</code><div class="box ease-in-sine"></div></li>

      <li><code>$ease-in-expo</code><div class="box ease-in-expo"></div></li>
      <li><code>$ease-out-expo</code><div class="box ease-out-expo"></div></li>
      <li><code>$ease-in-out-expo</code><div class="box ease-in-expo"></div></li>

      <li><code>$ease-in-circ</code><div class="box ease-in-circ"></div></li>
      <li><code>$ease-out-circ</code><div class="box ease-out-circ"></div></li>
      <li><code>$ease-in-out-circ</code><div class="box ease-in-circ"></div></li>

      <li><code>$ease-in-back</code><div class="box ease-in-back"></div></li>
      <li><code>$ease-out-back</code><div class="box ease-out-back"></div></li>
      <li><code>$ease-in-out-back</code><div class="box ease-in-out-back"></div></li>
    <ul>
  </section>
</article>
