<article id="triangle">
  <h2>Triangle<a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_triangle.scss">View source</a></h2>
  <p>Creates a visual triangle. Mixin takes <code>($size, $color, $direction)</code></p>

{% highlight scss %}
@include triangle(12px, gray, down);
{% endhighlight %}
  <h3>Demo</h3>
  <section class="demo">
    <div class="up"></div>
    <div class="down"></div>
    <div class="left"></div>
    <div class="right"></div>
    <div class="up-right"></div>
    <div class="up-left"></div>
    <div class="down-right"></div>
    <div class="down-left"></div>
  <p><code>up, down, left, right, up-right, up-left, down-right, down-left</code></p>
  </section>
</article>

