@charset "UTF-8";

/// Append pseudo-classes to a selector(s).
///
/// @access private
///
/// @param {list | string} $inputs
/// A selector, or list of selectors, to apply the pseudo-class to
///
/// @param {pseudo-class} $pseudo [null]
/// The pseudo-class to be appended
///
/// @return {list}

@function assign-inputs($inputs, $pseudo: null) {
  $list: ();

  @each $input in $inputs {
    $input: unquote($input);
    $input: if($pseudo, $input + ":" + $pseudo, $input);
    $list: append($list, $input, comma);
  }

  @return $list;
}
