@import "setup";

.single {
  padding: _unpack(10px);
}

.double {
  padding: _unpack(1em 2em);
}

.triple {
  padding: _unpack(10px 20px 0);
}

.quadruple {
  padding: _unpack(0 calc(1em + 10px) 20px 50px);
}
