<article id="animation-play-state" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Animation-play-state</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_animation.scss">View source</a>
    <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/CSS/animation-play-state">View spec</a>
  </header>
  <p>The <code>animation-play-state</code> property determines whether an animation is running or paused.</p>

{% highlight scss %}
  @include animation-play-state(paused);
{% endhighlight %}
</article>
