<article id="animation-play-state" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Animation Play State</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/css3/_animation.scss">View source</a>
    <a class="view-spec" href="//developer.mozilla.org/en-US/docs/Web/CSS/animation-play-state">View spec</a>
  </header>
  <p class="alert"><b>Deprecation Warning:</b> This mixin has been deprecated and will be removed in v5.0.</p>
  <p>The <code>animation-play-state</code> property determines whether an animation is running or paused.</p>

{% highlight scss %}
@include animation-play-state(paused);
{% endhighlight %}
</article>
