<article id="animation-name" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Animation Name</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_animation.scss">View source</a>
    <a class="view-spec" href="//developer.mozilla.org/en-US/docs/Web/CSS/animation-name">View spec</a>
  </header>
  <p>The <code>animation-name</code> property specifies a list of animations that should be applied to the selected element.</p>

{% highlight scss %}
@include animation-name(scale, slide);
{% endhighlight %}
</article>
