<article id="animation-delay" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Animation Delay</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/css3/_animation.scss">View source</a>
    <a class="view-spec" href="//developer.mozilla.org/en-US/docs/Web/CSS/animation-delay">View spec</a>
  </header>
  <p class="alert"><b>Deprecation Warning:</b> This mixin has been deprecated and will be removed in v5.0.</p>
  <p>The <code>animation-delay</code> property specifies when an animation should start.</p>

{% highlight scss %}
@include animation-delay(2s);
{% endhighlight %}
</article>
