<article id="animation-fill-mode" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Animation-fill-mode</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_animation.scss">View source</a>
    <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/CSS/animation-fill-mode">View spec</a>
  </header>
  <p>The <code>animation-fill-mode</code> property specifies how a CSS animation should apply styles to its target before and after it is executing.</p>

{% highlight scss %}
  @include animation-fill-mode(backwards);
{% endhighlight %}
</article>
