<article id="animation-timing-function" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Animation Timing Function</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_animation.scss">View source</a>
    <a class="view-spec" href="//developer.mozilla.org/en-US/docs/Web/CSS/animation-timing-function">View spec</a>
  </header>
  <p>The <code>animation-timing-function</code> property specifies how a CSS animation should progress over the duration of each cycle.</p>

{% highlight scss %}
@include animation-timing-function(ease);
{% endhighlight %}
</article>
