<article id="appearance" data-type="mixin">
  <div class="title-bar">
    <h2 class="title">Appearance</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_appearance.scss">View source</a>
    <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/CSS/-moz-appearance">View spec</a>
  </div>
  <p>The <code>appearance</code> CSS property is used to display an element using a platform-native styling based on the operating system's theme.</p>

{% highlight scss %}
@include appearance(none);
{% endhighlight %}
</article>
