<article id="appearance" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Appearance</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/css3/_appearance.scss">View source</a>
    <a class="view-spec" href="//developer.mozilla.org/en-US/docs/Web/CSS/-moz-appearance">View spec</a>
  </header>
  <p class="alert"><b>Deprecation Warning:</b> This mixin has been deprecated and will be removed in v5.0.</p>
  <p>The <code>appearance</code> CSS property is used to display an element using a platform-native styling based on the operating system’s theme.</p>

{% highlight scss %}
@include appearance(none);
{% endhighlight %}
</article>
