<article id="border-radius" data-type="mixin">
  <h2>Border-radius <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_border-radius.scss">View source</a></h2>

  <p>The border-radius helper mixins provide shortcuts for targeting sides. These mixins are supported in Bourbon v3.0+</p>

{% highlight scss %}
@include border-top-radius(5px);
@include border-bottom-radius(5px);
@include border-left-radius(5px);
@include border-right-radius(5px);
{% endhighlight %}

  <p class="alert"><b>Deprecation Warning: </b>The official border-radius mixin was deprecated and removed in Bourbon 3.0. <a href="https://github.com/thoughtbot/bourbon/pull/95">Here's why.</a></p>
</article>
