<article id="box-sizing" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Box Sizing</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_box-sizing.scss">View source</a>
    <a class="view-spec" href="//developer.mozilla.org/en-US/docs/Web/CSS/box-sizing">View spec</a>
  </header>
  <p class="alert"><b>Deprecation Warning:</b> The <code>box-sizing</code> mixin has been deprecated and will be removed in v5.0.</p>
  <p>Changes the CSS box model of the element it’s applied to.</p>

{% highlight scss %}
@include box-sizing(border-box);
{% endhighlight %}
</article>
