<article id="filter" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Filter</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/css3/_filter.scss">View source</a>
    <a class="view-spec" href="//developer.mozilla.org/en-US/docs/Web/CSS/filter">View spec</a>
  </header>
  <p class="alert"><b>Deprecation Warning:</b> This mixin has been deprecated and will be removed in v5.0.</p>
  <p>A mixin for generating clean, vendor-prefixed CSS3 filters.</p>

{% highlight scss %}
@include filter(grayscale(50%));
{% endhighlight %}
</article>
