<article id="flexbox" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Flexbox</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_flex-box.scss">View source</a>
    <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Flexible_boxes">View spec</a> 
  </header>
  <p>The flexbox mixins are up to date with the <a href="http://www.w3.org/TR/2014/WD-css-flexbox-1-20140325/">2014 W3C spec</a>. The mixins also include fallbacks for the <a href="http://www.w3.org/TR/2009/WD-css3-flexbox-20090723/">2009 spec</a>.</p>
  <p><a href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_flex-box.scss">View all flex-box mixins</a></p>
{% highlight scss %}
div.parent {
  @include display(flex);
  @include align-items(stretch);
  @include flex-direction(row);
  @include justify-content(flex-start);
}

div.parent > div.child {
  @include flex(1);
}
{% endhighlight %}
</article>
