<article id="font" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Font</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_font.scss">View source</a>
    <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/CSS/font">View spec</a>
  </header>
  <p>A mixin for generating quick and easy font settings.</p>

{% highlight scss %}
@include font(16px, bolder, #ccc, 'Source Sans', 1.3);

{% endhighlight %}
</article>

