<article id="hyphens" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Hyphens</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_hyphens.scss">View source</a>
    <a class="view-spec" href="//developer.mozilla.org/en-US/docs/Web/CSS/hyphens">View spec</a>
  </header>
  <p>The <code>hyphens</code> property tells the browser how to split words when wrapping lines. The mixin accepts either <code>none</code>, <code>manual</code>, or <code>auto</code>, and defaults to <code>none</code> if left blank.</p>

{% highlight scss %}
@include hyphens(manual);
{% endhighlight %}
</article>
