<article id="image-rendering" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Image Rendering</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/css3/_image-rendering.scss">View source</a>
    <a class="view-spec" href="//developer.mozilla.org/en-US/docs/Web/CSS/image-rendering">View spec</a>
  </header>
  <p class="alert"><b>Deprecation Warning:</b> This mixin has been deprecated and will be removed in v5.0.</p>
  <p>The <code>image-rendering</code> mixin provides a hint to the user agent about how to handle its image rendering.</p>

{% highlight scss %}
@include image-rendering(optimizeSpeed);
{% endhighlight %}
</article>
