<article id="image-rendering" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Image-rendering</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_image-rendering.scss">View source</a>
    <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/CSS/image-rendering">View spec</a>
  </header>
  <p>The <code>image-rendering</code> property provides a hint to the user agent about how to handle its image rendering.</p>

{% highlight scss %}
@include image-rendering(optimizeSpeed);
{% endhighlight %}
</article>

