<article id="selection" data-type="mixin">
    <header class="title-bar">
        <h2 class="title">Selection</h2>
        <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_selection.scss">View source</a>
        <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/CSS/::selection">View spec</a>
    </header>
    <p>Outputs vendor-prefixed selection selectors for styling.</p>
    <p>The mixin takes an optional <code>$for-parent: false</code> argument. If true, the <code>::selection</code>'s will add the parent element before the two colons. This argument can be omitted or set to false if the mixin is included at the base level.</p>

    {% highlight scss %}
    @include selection {
      background-color: white;
    }

    p {
      @include selection(true) {
        background-color: black;
        color: white;
      }
    }
    {% endhighlight %}
    <h3>CSS Output</h3>
    {% highlight scss %}
    ::selection {
      background-color: white;
    }
    ::-moz-selection {
      background-color: white;
    }

    p::selection {
      background-color: black;
      color: white;
    }
    p::-moz-selection {
      background-color: black;
      color: white;
    }
    {% endhighlight %}
</article>
