<article id="selection" data-type="mixin">
  <header class="title-bar">
      <h2 class="title">Selection</h2>
      <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_selection.scss">View source</a>
      <a class="view-spec" href="//developer.mozilla.org/en-US/docs/Web/CSS/::selection">View spec</a>
  </header>
  <p>Outputs the spec and prefixed versions of the <code>::selection</code> pseudo-element. Pass an argument of <code>true</code> to take the current element into consideration.</p>

{% highlight scss %}
@include selection {
  background-color: #ffbb52;
}

.element {
  @include selection(true) {
    background-color: #ffbb52;
  }
}
{% endhighlight %}

<h3>CSS Output</h3>

{% highlight css %}
::-moz-selection {
  background-color: #ffbb52;
}

::selection {
  background-color: #ffbb52;
}

.element::-moz-selection {
  background-color: #ffbb52;
}

.element::selection {
  background-color: #ffbb52;
}
{% endhighlight %}
</article>
