<article id="text-decoration" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Text Decoration</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_text-decoration.scss">View source</a>
    <a class="view-spec" href="//developer.mozilla.org/en-US/docs/Web/CSS/text-decoration">View spec</a>
  </header>
  <p>CSS3 changes the <code>text-decoration</code> property to be a shorthand for <a href="//developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-color"><code>text-decoration-color</code></a>, <a href="//developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-line"><code>text-decoration-line</code></a>, and <a href="//developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-style"><code>text-decoration-style</code></a>. This mixin will generate the necessary prefixes for these new properties and shorthand.</p>

{% highlight scss %}
@include text-decoration(underline double rgb(124,213,224));
@include text-decoration-line(line-through);
@include text-decoration-style(double);
@include text-decoration-color(#e71d02);
{% endhighlight %}
</article>
