<article id="transitions" data-type="mixin">
  <div class="title-bar">
    <h2 class="title">Transition</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_transition.scss">View source</a>
    <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/CSS/transition">View spec</a>
  </div>
  <p>The shorthand mixin supports multiple transition.</p>

{% highlight scss %}
@include transition (all 2.0s ease-in-out);
@include transition (opacity 1.0s ease-in 0s, width 2.0s ease-in 2s);
{% endhighlight %}

<p>To transition specific vendor-prefixed properties (`-webkit-transform, -moz-transform, ...`), do not use the shorthand mixin. Use the individual transition mixins.</p>
{% highlight scss %}
@include transition-property (transform);
@include transition-duration(1.0s);
@include transition-timing-function(ease-in);
@include transition-delay(0.5s);
{% endhighlight %}
</article>
