<article id="transitions" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">Transition</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/css3/_transition.scss">View source</a>
    <a class="view-spec" href="//developer.mozilla.org/en-US/docs/Web/CSS/transition">View spec</a>
  </header>
  <p class="alert"><b>Deprecation Warning:</b> This mixin has been deprecated and will be removed in v5.0.</p>
  <p>This mixin provides a shorthand syntax and supports multiple transitions.</p>

{% highlight scss %}
@include transition(all 2.0s ease-in-out);
@include transition(opacity 1.0s ease-in 0s, width 2.0s ease-in 2s);
{% endhighlight %}

  <p>To transition vendor-prefixed properties, e.g. <code>-webkit-transform</code> and <code>-moz-transform</code>, do not use the shorthand mixin. Instead, use the individual transition mixins:</p>

{% highlight scss %}
@include transition-property(transform);
@include transition-duration(1.0s);
@include transition-timing-function(ease-in);
@include transition-delay(0.5s);
{% endhighlight %}
</article>
