<article id="unpack" data-type="function">
  <header class="title-bar">
    <h2 class="title">Unpack</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_hyphens.scss">View source</a>
  </header>
  <p>This is a shorthand for converting one to three dimensions into their four-value syntax. It's used in the <a href="#position">position</a> mixin.

{% highlight scss %}
margin: unpack(1em 2em);
{% endhighlight %}

<h3>CSS Output</h3>
{% highlight scss %}
margin: 1em 2em 1em 2em;
{% endhighlight %}
</article>

