<article id="user-select" data-type="mixin">
  <header class="title-bar">
    <h2 class="title">User-select</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/css3/_user-select.scss">View source</a>
    <a class="view-spec" href="https://developer.mozilla.org/en-US/docs/Web/CSS/user-select">View spec</a>
  </header>
  <p>Controls the appearance (only) of selection.  This does not have any affect on actual selection operation.</p>

{% highlight scss %}
@include user-select(none);
{% endhighlight %}
</article>
