// Keyframes for Animations

// Fade-In animation
@mixin fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in { @include fade-in; }
   @-moz-keyframes fade-in { @include fade-in; }
        @keyframes fade-in { @include fade-in; }


// Fade-out animation
@mixin fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out { @include fade-out; }
   @-moz-keyframes fade-out { @include fade-out; }
        @keyframes fade-out { @include fade-out; }
