@mixin button($base-color: #4294f0) {

  // Grayscale button
  @if $base-color == grayscale($base-color) {
    @include simple($base-color, $grayscale: true);
  }

  // Colored button
  @else {
    @include simple($base-color);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}


// Simple Button
//************************************************************************//
@mixin simple($base-color, $grayscale: false) {
  $color:         hsl(0, 0, 100%);
  $border:        adjust-color($base-color, $saturation:  9%,  $lightness: -14%);
  $stop-gradient: adjust-color($base-color, $saturation:  9%,  $lightness: -11%);

  @if lightness($base-color) > 70% {
    $color:       hsl(0, 0, 20%);
  }

  @if $grayscale == true {
    $border:        grayscale($border);
    $stop-gradient: grayscale($stop-gradient);
  }

  @include linear-gradient($base-color, $stop-gradient);
  border-radius: 3px;
  border: 1px solid $border;
  color: $color;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  padding: 6px 15px;
  text-decoration: none;
  -webkit-background-clip: padding-box;

  &:hover:not(:disabled) {
    $base-color-hover:    adjust-color($base-color, $saturation: -4%, $lightness: -5%);
    $stop-gradient-hover: adjust-color($base-color, $saturation:  8%, $lightness: -12%);

    @if $grayscale == true {
      $base-color-hover:    grayscale($base-color-hover);
      $stop-gradient-hover: grayscale($stop-gradient-hover);
    }

    cursor: pointer;
    @include linear-gradient ($base-color-hover, $stop-gradient-hover);
  }

  &:active:not(:disabled) {
    $border-active:       adjust-color($base-color, $saturation: 9%, $lightness: -14%);
    $inset-shadow-active: adjust-color($base-color, $saturation: 7%, $lightness: -17%);

    @if $grayscale == true {
      $border-active:       grayscale($border-active);
      $inset-shadow-active: grayscale($inset-shadow-active);
    }

    border: 1px solid $border-active;
    @include box-shadow (inset 0 0 8px 4px $inset-shadow-active, inset 0 0 8px 4px $inset-shadow-active, 0 1px 1px 0 #eee);
  }
}