/// Provides an easy way to include a clearfix for containing floats.
/// We use this modern clearfix from [cssmojo](http://cssmojo.com/latest_new_clearfix_so_far).
///
/// @example scss - Usage
///   .wrapper {
///     @include clearfix;
///   }
///
/// @example css - CSS Output
///   .wrapper::after {
///     clear: both;
///     content: "";
///     display: table;
///   }

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}
