/// Georgia font stack
/// @type List
$georgia: Georgia, Cambria, "Times New Roman", Times, serif;

/// Helvetica font stack
/// @type
$helvetica: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

/// Lucida-Grande font stack
/// @type
$lucida-grande: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;

/// Monospace font stack
/// @type
$monospace: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;

/// Verdana font stack
/// @type
$verdana: Verdana, Geneva, sans-serif;
