@charset "UTF-8";

////
/// @type list
///
/// @link goo.gl/Cxb26i
////

$helvetica: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$lucida-grande: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Geneva", "Verdana", sans-serif;
$verdana: "Verdana", "Geneva", sans-serif;

$garamond: "Garamond", "Baskerville", "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
$georgia: "Georgia", "Times", "Times New Roman", serif;
$hoefler-text: "Hoefler Text", "Baskerville Old Face", "Garamond", "Times New Roman", serif;

$consolas: "Consolas", "monaco", monospace;
$courier-new: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$monaco: "monaco", "Consolas", "Lucida Console", monospace;
