//************************************************************************//
// Generate a variable ($all-text-inputs) with a list of all html5
// input types that have a text-based input, excluding textarea.
// http://diveintohtml5.org/forms.html
//************************************************************************//
$inputs-list: 'input[type="email"]',
              'input[type="number"]',
              'input[type="password"]',
              'input[type="search"]',
              'input[type="tel"]',
              'input[type="text"]',
              'input[type="url"]',

              // Webkit & Gecko may change the display of these in the future
              'input[type="color"]',
              'input[type="date"]',
              'input[type="datetime"]',
              'input[type="datetime-local"]',
              'input[type="month"]',
              'input[type="time"]',
              'input[type="week"]';

@function fnAssignInputs($inputs, $pseudo: null) {
  $_list : ();

  @each $_input in $inputs {
    $_input : unquote($_input);
    $_input : if($pseudo, $_input + ":" + $pseudo, $_input);
    $_list  : append($_list, $_input, comma);
  }

  @return $_list;
}

// Bare inputs
//************************************************************************//
$all-text-inputs: fnAssignInputs($inputs-list);

// Hover Pseudo-class
//************************************************************************//
$all-text-inputs-hover: fnAssignInputs($inputs-list, hover);

// Focus Pseudo-class
//************************************************************************//
$all-text-inputs-focus: fnAssignInputs($inputs-list, focus);



// You must use interpolation on the variable:
// #{$all-text-inputs}
// #{$all-text-inputs-hover}
// #{$all-text-inputs-focus}

// Example
//************************************************************************//
//   #{$all-text-inputs}, textarea {
//     border: 1px solid red;
//   }
