$root-font-size: 100% !default;

$root-font-multiplier:  ($root-font-size / ($root-font-size * 0 + 1))/100;

@mixin font-size($value, $increment, $ratio){
  @if $ratio == golden {
    @if $increment > 0 {
      @for $i from 1 through $increment {
      $value: ($value * 1.618);
      }
    }
    @if $increment < 0 { 
      $increment: abs($increment);
        @for $i from 1 through $increment {
          $value: ($value / 1.618);
        }
    } 
  }
  @else {
    @if $increment > 0 {
      @for $i from 1 through $increment {
        $value: ($value * $ratio);
      }
    }
    @if $increment < 0 { 
      $increment: abs($increment);
        @for $i from 1 through $increment {
          $value: ($value / $ratio);
        }
    } 
  }  

  font-size: $value * $root-font-size * 16px;
  font-size: $value * 1rem;
}
