@mixin retina-image($filename, $image-width, $image-height, $extension: png, $retina-filename: null, $asset-pipeline: false) {
  background-image: url($filename + "." + $extension);
  height: $image-height;
  width:  $image-width;

  @include hidpi {

    @if $asset-pipeline {
      @if $retina-filename {
        background-image: image_url($retina-filename + "@2x" + "." + $extension);
      }
      @else {
        background-image: image_url($filename + "@2x" + "." + $extension);
      }
    }

    @else {
      @if $retina-filename {
        background-image: url($retina-filename + "@2x" + "." + $extension);
      }
      @else {
        background-image: url($filename + "@2x" + "." + $extension);
      }
    }

    background-size: $image-width $image-height;

  }
}
