@mixin sticky-footer(
  $height:          50px,
  $main-selector:   '#main',
  $footer-selector: '#footer',
  $push-selector:   '#push-footer'
) {
  html,
  body {
    height: 100%;
  }
  body > #{$main-selector} {
    height:        auto !important;
    height:        100%;
    margin-bottom: -$height;
    min-height:    100%;
    #{$push-selector} {
      clear:  both;
      height: $height;
    }
  }
  #{$footer-selector} {
    clear:    both;
    height:   $height;
    position: relative;
  }
}

// A CSS-based sticky footer.
//
// Sticky footer markup:
//
//    <body>
//      <div id="main">
//        <header>...</header>
//        <article>...</article>
//        <div id="push-footer"></div>
//      </div>
//      <div id="footer">
//        <footer>...</footer>
//      </div>
//    </body>
//
// Example usage:
//
//    @include sticky-footer(100px)
//    @include sticky-footer(100px, "#wrapper")
