@mixin triangle ($width, $height, $color, $direction: '') {
  @if $direction == '' {
    $direction: $color;
    $color: $height;
    $height: $width;
  }

  height: 0;
  width: 0;

  @if ($direction == up) or ($direction == down) or ($direction == right) or ($direction == left) {

    $width: $width / 2;

    @if $direction == up {
      border-left: $width solid transparent;
      border-right: $width solid transparent;
      border-bottom: $height solid $color;

    } @else if $direction == right {
      border-top: $width solid transparent;
      border-bottom: $width solid transparent;
      border-left: $height solid $color;

    } @else if $direction == down {
      border-left: $width solid transparent;
      border-right: $width solid transparent;
      border-top: $height solid $color;

    } @else if $direction == left {
      border-top: $width solid transparent;
      border-bottom: $width solid transparent;
      border-right: $height solid $color;
    }
  }

  @else if ($direction == up-right) or ($direction == up-left) {
    border-top: $height solid $color;

    @if $direction == up-right {
      border-left:  $width solid transparent;

    } @else if $direction == up-left {
      border-right: $width solid transparent;
    }
  }

  @else if ($direction == down-right) or ($direction == down-left) {
    border-bottom: $height solid $color;

    @if $direction == down-right {
      border-left:  $width solid transparent;

    } @else if $direction == down-left {
      border-right: $width solid transparent;
    }
  }
}
