@mixin triangle ($width, $color, $direction) {
	width: 0;
	height: 0;

	@if $direction == up {
		border-width: $width / 2;
		border-style: solid;
		border-color: transparent transparent $color transparent;
	} @else if $direction == right {
		border-width: $width / 2;
		border-style: solid;
		border-color: transparent transparent transparent $color;
	} @else if $direction == down {
		border-width: $width / 2;
		border-style: solid;
		border-color: $color transparent transparent transparent;
	} @else if $direction == left {
		border-width: $width / 2;
		border-style: solid;
		border-color: transparent $color transparent transparent;
	} @else if $direction == upright {
		border-top: $width solid $color;
		border-left: $width solid transparent ;
	} @else if $direction == upleft {
		border-top: $width solid $color;
		border-right: $width solid transparent ;
	} @else if $direction == downright {
		border-bottom: $width solid $color;
		border-left: $width solid transparent ;
	} @else if $direction == downleft {
		border-bottom: $width solid $color;
		border-right: $width solid transparent ;
	}
}