@import "setup";

#{_assign-inputs($text-inputs-list)} {
  color: #f00;
}

#{_assign-inputs($text-inputs-list, active)} {
  color: #0f0;
}

#{_assign-inputs($text-inputs-list)},
select {
  color: #00f;
}

[type="file"],
#{_assign-inputs($text-inputs-list)} {
  color: #f0f;
}
