@import "setup";

$file-formats: ("woff2", "woff");

.has-pipeline {
  src: _font-source-declaration("a", "b", true, $file-formats);
}

.no-pipeline {
  src: _font-source-declaration("a", "b", false, $file-formats);
}
