@import "setup";

.helvetica {
  content: $helvetica;
}

.lucida-grande {
  content: $lucida-grande;
}

.verdana {
  content: $verdana;
}

.garamond {
  content: $garamond;
}

.georgia {
  content: $georgia;
}

.hoefler-text {
  content: $hoefler-text;
}

.consolas {
  content: $consolas;
}

.courier-new {
  content: $courier-new;
}

.monaco {
  content: $monaco;
}
