@import "setup";

.georgia {
  font-family: $georgia;
}

.helvetica {
  font-family: $helvetica;
}

.lucida-grande {
  font-family: $lucida-grande;
}

.monospace {
  font-family: $monospace;
}

.verdana {
  font-family: $verdana;
}
