@import "setup";

.georgia {
  content: $georgia;
}

.helvetica {
  content: $helvetica;
}

.lucida-grande {
  content: $lucida-grande;
}

.monospace {
  content: $monospace;
}

.verdana {
  content: $verdana;
}
