@import "setup";

li {
  // applies when there is exactly one child
  @include sibling-count(1) {
    color: #ffffff;
  }

  // applies when there are 2, 4, 6, 8,... children
  @include sibling-count(2, true) {
    color: #808080;
  }

  // applies when there are 1, 4, 7, 10,... children
  @include sibling-count(3, true, 1) {
    color: #000000;
  }
}
