html, body {
  background-color: $background-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 100%;
  width: 100%;
}

html {
  padding: 0;
}

h1 {
  font-weight: 300;
  margin-top: 0;
}

h1, h2 {
  font-size: golden-ratio(14px, 1) + 4px;
}

h2 {
  font-weight: 300;
  margin-bottom: 0.5em;
  margin-top: 0;
}

p, div.highlight {
  & + h2 {
    margin-top: 2em;
  }
}

h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0.5em;
  margin-top: 2em;
}

h4, h5, h6 {
  font-size: golden-ratio(13px, 0);
  margin-top: 0;
}

p {
  // margin-top: 0;
  line-height: 1.5em;
}

a, a:link, a:active, a:visited {
  color: hsl(212, 89%, 55%);
  text-decoration: none;
}

a:hover {
  color: hsl(212, 94%, 36%);
}

//************************************************************************//
// Navigation
//************************************************************************//
nav.fixed-nav {
  @extend .clearfix;
  clear: left;
  float: left;
  min-height: 300px;
  width: grid-width(2);

  ul {
    // border: 1px solid darken($base-border-color, 10%);
    border-bottom: 0;
    border-left: 0;
    border-top: 0;
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    padding: 0;
    position: fixed;
    width: inherit;

    input[type="search"] {
      margin-left: 20px;
    }

    li {
      line-height: 180%;
      list-style-type: none;
      text-transform: capitalize;

      &:first-child {
        margin-top: 15px;
      }

      &.title:not(:first-child) {
        margin-bottom: 5px;
        margin-top: 15px;
      }

      &.title.complete-list h3 {
        border-bottom: 0;
        @include box-shadow(none);
      }

      a {
        display: block;
        padding: 0 20px;
        @include transition;

        h3 {
          border-bottom: 1px solid darken($base-border-color, 10%);
          @include box-shadow(0 1px 0 white);
          color: hsl(0, 0%, 30%);
          font-size: 12px;
          font-weight: bold;
          margin: 0;
          text-shadow: 0 1px 0 white;
          text-transform: uppercase;

          &:hover {
            color: hsl(0, 0%, 40%);
          }
        }
      }
    }
  }
}


//************************************************************************//
// Global styles
//************************************************************************//
div.main-content {
  @extend .clearfix;
  margin: 0 auto;
  padding: 0px $gw-gutter;
  width: grid-width(9);
}

div.main-inner {
  background: white;
  border: 1px solid darken($base-border-color, 10%);
  border-bottom: 0;
  border-top: 0;
  @include box-sizing(border-box);
  clear: right;
  float: left;
  padding: 35px 0px;
  width: grid-width(7) + $gw-gutter;


  h2.tagline {
    padding: 0 28px;
    margin: 20px 0 0;
  }

  // Top Level Section
  //************************************************************************//
  > section {
    h1 {
      background-color: hsl(43, 23%, 94%);
      border: 1px solid hsl(0, 0%, 88%);
      border-left: 0;
      border-right: 0;
      @include box-shadow(1px 0 0 $background-color, -1px 0 0 $background-color);
      font-size: 27px;
      font-weight: 500;
      line-height: 100%;
      margin: 30px 0 0;
      margin-top: 40px;
      padding: 15px 30px;
      text-shadow: 0 1px 0 white;

      &.logo {
        background-color: transparent;
        background-image: url(../images/bourbon-logo.png);
        background-repeat: no-repeat;
        border: 0;
        @include box-shadow(none);
        height: 58px;
        margin-left: 24px;
        margin-top: 0;
        padding: 0;
        text-indent: -9999px;
      }
    }
  }

  > section > section {
    border-bottom: 1px solid $base-border-color;
    padding: 30px 28px;
    @include transition;

    // View Source Link
    //************************************************************************//
    a.view-source {
      color: hsl(43, 13%, 75%);
      float: right;
      font-size: $base-font-size;
      margin-top: 5px;
      padding: 2px 20px;
      text-shadow: 0 1px 0 white;
      text-transform: capitalize;
      @include transition;
      opacity: 0;

      &:hover {
        background-color: $background-color;
        @include border-radius(20px);
        color: hsl(43, 13%, 60%);
      }
    }

    // Show link on hover
    &:hover {
      a.view-source {
        opacity: 1;
      }
    }

    // Intro Text
    //************************************************************************//
    &#intro {
      border-bottom: none;
      padding-bottom: 0px;
      padding-top: 0;

      & + h1 {
        margin-top: 40px;
      }

      p a + a {
        margin-left: 20px;
      }

      p:last-child {
        margin: 20px 0 50px;
      }
    }

    &:last-child {
      border: 0;
    }
  }


  // Target Styles
  //************************************************************************//
  > section > section {
    &:target {
      @include box-shadow(inset 4px 0 0px 0 hsl(14, 97%, 55%));
      @include transition(all, 0.3s);

      h2 {
        font-weight: 500;
      }
    }
  }
}

// Wrapper for any occasion
div.wrapper {
  margin-bottom: 20px;
}

// Code highlighting styling
div.highlight {
  background-color: transparent;
  width: 100%;
}

pre {
  background-color: $highlight-color;
  @include border-radius(3px);
  @include box-shadow(0 0 0 1px darken($highlight-color, 8%));
  margin: 1em 0;
  overflow: auto;
  padding: 7px;
  @include transition;
  white-space: pre;
  word-wrap: normal;

  // render a nice scrollbar in overflowed pre area's
  &::-webkit-scrollbar {
    height: 7px;
    -webkit-appearance: none;
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
      background-color: desaturate(darken($highlight-color, 10%), 5%);
      border-radius: 4px;
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }
  &::-webkit-scrollbar-corner {
  }
}

p code, ul code, ol code {
  background-color: $background-color;
  border: 1px solid $base-border-color;
  color: hsl(0, 0%, 27%);
  padding: 0 .2em;
}
