//************************************************************************//
// Variables
//************************************************************************//
$gw-column: 106px;          // Column Width
$gw-gutter: 16px;           // Gutter Width

$base-border-color: hsl(43, 23%, 90%);
$base-font-size: 13px;

$background-color: hsl(43, 23%, 94%);
$highlight-color: hsl(44, 87%, 94%);


//************************************************************************//
//  Mixins
//************************************************************************//


//************************************************************************//
//  Extends
//************************************************************************//
