@import "bourbon/bourbon";
@import "normalize";
@import "mixins";
@import "animation-keyframes";

@import "animation";
@import "background-image";
@import "buttons";
@import "timing-functions";
@import "border-radius";
@import "box-shadow";

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 100%;
  width: 100%;
}

html {
  padding: 20px 0;
}

body {
}

h1 {
  font-size: golden-ratio(13px, 2);
  font-weight: 300;
  margin-top: 0;
}

h2 {
  font-size: golden-ratio(13px, 1);
  margin-top: 0;
}

h3, h4, h5, h6 {
  font-size: golden-ratio(13px, 0);
  margin-top: 0;
}

p {
  margin-top: 0;
}

a, a:link, a:active, a:visited {
  color: hsl(212, 89%, 55%);
  text-decoration: none;
}

a:hover {
  color: hsl(212, 94%, 36%);
}

//************************************************************************//
// Navigation
//************************************************************************//
nav.fixed-nav {
  @extend .clearfix;
  clear: left;
  float: left;
  margin-right: $gw-gutter;
  min-height: 300px;
  width: grid-width(2);

  ul {
    border-top: 4px solid hsl(0, 0%, 90%);
    margin: 0;
    margin-top: 40px;
    padding: 0;
    position: fixed;
    width: inherit;

    li {
      list-style-type: none;
      line-height: 180%;

      &:first-child {
        margin-top: 15px;
      }

      a {
        h3 {
          color: black;
          margin: 0;
        }
      }
    }
  }
}


//************************************************************************//
// Global styles
//************************************************************************//
div.main-content {
  @extend .clearfix;
  background: hsl(0, 0%, 100%);
  @include border-radius(6px);
  margin: 0 auto;
  padding: 10px $gw-gutter;
  width: grid-width(8) + (2 * $gw-gutter);
}

div.main-inner {
  clear: right;
  float: left;
  margin-left: $gw-gutter;
  width: grid-width(6);

  h1 {
    border-bottom: 1px solid hsl(0, 0%, 93%);
  }

  section + h1 {
    margin-top: 100px;
  }

  section#intro + h1 {
    margin-top: 20px;
  }

  > section {
    border-bottom: 1px solid #ccc;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  h1 + section {
    padding-top: 0;
  }

  section#intro {
    border-bottom: none;
    padding-bottom: 0;
  }
}

// Wrapper for any occasion
div.wrapper {
  margin-bottom: 20px;
}

// Code highlighting styling
div.highlight {
  background: hsl(0, 0%, 95%);
  @include border-radius(5px);
  padding-top: 5px;
}

// Demo Box Style
div.box {
  $base-color: hsl(335, 94%, 42%);
  background: red;
  @include border-radius(40px);
  border: 1px solid darken($base-color, 10%);
  @include box-shadow(inset 0 1px 0 hsla(0, 0%, 100%, 0.45));
  height: 40px;
  @include linear-gradient(lighten($base-color, 20%), $base-color);
  width: 40px;
}
