@import "bourbon/bourbon";
@import "normalize";
@import "mixins";
@import "animation-keyframes";
@import "pygments-theme-light";
// @import "pygments-theme-dark";

@import "animation";
@import "background-image";
@import "buttons";
@import "timing-functions";
@import "border-radius";
@import "box-shadow";

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 100%;
  width: 100%;
  background-color: hsl(43, 23%, 94%);
}

html {
  padding: 0;
}

h1 {
  font-size: golden-ratio(14px, 2);
  font-weight: 300;
  margin-top: 0;
}

h2 {
  font-size: golden-ratio(14px, 1) + 4px;
  margin-top: 0;
  font-weight: 300;
  margin-bottom: 0.5em;
}

h3, h4, h5, h6 {
  font-size: golden-ratio(13px, 0);
  margin-top: 0;
}

p {
  margin-top: 0;
}

a, a:link, a:active, a:visited {
  color: hsl(212, 89%, 55%);
  text-decoration: none;
}

a:hover {
  color: hsl(212, 94%, 36%);
}

//************************************************************************//
// Navigation
//************************************************************************//
nav.fixed-nav {
  @extend .clearfix;
  clear: left;
  float: left;
  margin-right: $gw-gutter;
  min-height: 300px;
  width: grid-width(2);

  ul {
    border-top: 4px solid hsl(0, 0%, 90%);
    margin-top: 40px;
    margin: 0;
    max-height: 800px;
    overflow-y: scroll;
    padding: 0;
    position: fixed;
    width: inherit;

    li {
      list-style-type: none;
      line-height: 180%;

      &:first-child {
        margin-top: 15px;
      }

      &.title:not(:first-child) {
        margin-top: 10px;
      }

      a {
        h3 {
          color: black;
          margin: 0;
        }
      }
    }
  }
}


//************************************************************************//
// Global styles
//************************************************************************//
div.main-content {
  @extend .clearfix;
  @include border-radius(6px);
  margin: 0 auto;
  padding: 0px $gw-gutter;
  width: grid-width(8) + (2 * $gw-gutter);
}

div.main-inner {
  background: white;
  @include box-sizing(border-box);
  clear: right;
  float: left;
  margin-left: $gw-gutter;
  padding: 35px 30px;
  width: grid-width(6);

  h1 {
    border-bottom: 1px solid hsl(0, 0%, 93%);

    span a {
      font-size: $base-font-size;
      float: right;
      margin-top: 20px;
    }
  }

  section + h1 {
    margin-top: 100px;
  }

  > h1:target,
  section:target > h2 {
    $target-color: hsla(14, 97%, 55%, 0.25);
    background-color: $target-color;
    @include box-shadow(0 0 0 4px $target-color);
    // @include border-radius(1px);
    // padding: 0px 14px;
    @include transition(all, 0.36s);
  }

  section#intro + h1 {
    margin-top: 20px;
  }

  > section {
    padding-bottom: 30px;
    padding-top: 40px;
  }

  h1 + section {
    padding-top: 0;
  }

  section#intro {
    border-bottom: none;
    padding-bottom: 0;
  }
}

// Wrapper for any occasion
div.wrapper {
  margin-bottom: 20px;
}

// Code highlighting styling
div.highlight {
  @include border-radius(3px);
  padding-top: 5px;
  @include box-shadow(0 0 0 1px hsl(44, 87%, 83%));
}

// Demo Box Style
div.box {
  $base-color: hsl(335, 94%, 42%);
  background: red;
  @include border-radius(40px);
  border: 1px solid darken($base-color, 10%);
  @include box-shadow(inset 0 1px 0 hsla(0, 0%, 100%, 0.45));
  height: 40px;
  @include linear-gradient(lighten($base-color, 20%), $base-color);
  width: 40px;
}
