.highlight {
  color: #657b83;
  background-color: #fdf6e3; }

.highlight .cp {
  color: #93a1a1;
  font-weight: bold; }

.highlight .cs {
  color: #93a1a1;
  font-weight: bold;
  font-style: italic; }

.highlight .gd {
  background-color: #fdd; }

.highlight .gd .x {
  background-color: #faa; }

.highlight .ge {
  font-style: italic; }

.highlight .gi {
  background-color: #dfd; }

.highlight .gi .x {
  background-color: #afa; }

.highlight .go {
  color: #657b83; }

.highlight .gu {
  color: #d33682;
  font-weight: bold; }

.highlight .gs {
  font-weight: bold; }

.highlight .gr, .highlight .gt {
  color: #d33682; }

.highlight .gh {
  color: #93a1a1; }

.highlight .gp {
  color: #93a1a1; }

.highlight .nb {
  color: #859900; }

.highlight .ni {
  color: #d33682; }

.highlight .nt {
  color: #268bd2; }

.highlight .w {
  color: #93a1a1; }

.highlight .sr {
  color: #859900; }

.highlight .ss {
  color: #2aa198; }

.highlight .c, .highlight .cm, .highlight .c1 {
  color: #93a1a1;
  font-style: italic; }

.highlight .k, .highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .o, .highlight .ow {
  font-weight: bold; }

.highlight .k {
  color: #859900; }

.highlight .kt {
  color: #b58900; }

.highlight .bp {
  color: #586e75; }

.highlight .nn {
  color: #586e75; }

.highlight .nc {
  color: #b58900;
  font-weight: bold; }

.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .il {
  color: #2aa198; }

.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .s1 {
  color: #2aa198; }

.highlight .na, .highlight .nv {
  color: #2aa198; }

.highlight .no {
  color: #b58900; }

.highlight .vc, .highlight .vg, .highlight .vi {
  color: #268bd2; }

.highlight .ne, .highlight .nf {
  color: #dc322f;
  font-weight: bold; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  background: #f5f4f1;
  font-size: 16px; }

body {
  min-width: 320px;
  font-size: 16px;
  font-family: "proxima-nova-soft", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #5a5a5a; }

div.inner-wrapper {
  padding: 20px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova-soft", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  line-height: 1.5; }

h3 {
  font-size: 3rem;
  font-weight: 800; }
  @media screen and (max-width: 480px) {
    h3 {
      font-size: 2rem; } }

h4 {
  font-size: 1.75rem;
  font-weight: 600;
  margin-top: 1.75em; }
  @media screen and (max-width: 480px) {
    h4 {
      font-size: 1.25rem; } }

h5 {
  font-size: 1.375rem;
  font-weight: 600;
  margin-top: 1em; }
  @media screen and (max-width: 480px) {
    h5 {
      font-size: 1.125em; } }

p {
  font-size: 1.125rem;
  margin: .5em 0;
  line-height: 1.5em; }

a, a:link, a:active, a:visited {
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  -ms-transition: all 0.15s ease-out 0;
  -o-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  color: #de5c00;
  text-decoration: none; }

a:hover {
  color: #923c00;
  text-decoration: underline; }

i {
  text-transform: italic; }

code {
  font-size: .8125em;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace; }

::selection {
  background: #fefa83; }

::-moz-selection {
  background: #fefa83; }

.container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media screen and (max-width: 68em) {
    .container {
      padding: 0 20px; } }

button {
  border: 1px solid #076fe4;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #8ebcf1;
  box-shadow: inset 0 1px 0 0 #8ebcf1;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #4294f0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4294f0), color-stop(100%, #0776f3));
  background-image: -webkit-linear-gradient(top, #4294f0, #0776f3);
  background-image: -moz-linear-gradient(top, #4294f0, #0776f3);
  background-image: -ms-linear-gradient(top, #4294f0, #0776f3);
  background-image: -o-linear-gradient(top, #4294f0, #0776f3);
  background-image: linear-gradient(top, #4294f0, #0776f3);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #0065d6;
  -webkit-background-clip: padding-box; }
  button:hover:not(:disabled) {
    -webkit-box-shadow: inset 0 1px 0 0 #60a2ec;
    box-shadow: inset 0 1px 0 0 #60a2ec;
    cursor: pointer;
    background-color: #2f87ea;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2f87ea), color-stop(100%, #086fe3));
    background-image: -webkit-linear-gradient(top, #2f87ea, #086fe3);
    background-image: -moz-linear-gradient(top, #2f87ea, #086fe3);
    background-image: -ms-linear-gradient(top, #2f87ea, #086fe3);
    background-image: -o-linear-gradient(top, #2f87ea, #086fe3);
    background-image: linear-gradient(top, #2f87ea, #086fe3); }
  button:active:not(:disabled) {
    border: 1px solid #076fe4;
    -webkit-box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee; }
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

.highlight pre {
  border-radius: 3px;
  background-color: #fffbea;
  border: 1px solid #d2caa7;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  margin-bottom: 2em;
  overflow: scroll;
  padding: 7px;
  width: 100%; }

a.button {
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0px 1px rgba(255, 255, 255, 0.4);
  display: block;
  float: left;
  padding: 20px 0;
  font-size: .875rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  width: 154px; }
  a.button:hover {
    text-decoration: none; }
  a.button:active {
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s; }
  a.button.installation {
    background-color: #afe4ec;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #afe4ec), color-stop(100%, #68cad8));
    background-image: -webkit-linear-gradient(top, #afe4ec, #68cad8);
    background-image: -moz-linear-gradient(top, #afe4ec, #68cad8);
    background-image: -ms-linear-gradient(top, #afe4ec, #68cad8);
    background-image: -o-linear-gradient(top, #afe4ec, #68cad8);
    background-image: linear-gradient(top, #afe4ec, #68cad8);
    border: 1px solid #40a9b8;
    color: #156571;
    text-shadow: 0px 1px #b2e4eb; }
    a.button.installation:hover {
      background-color: #c4ebf1;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c4ebf1), color-stop(100%, #7cd1dd));
      background-image: -webkit-linear-gradient(top, #c4ebf1, #7cd1dd);
      background-image: -moz-linear-gradient(top, #c4ebf1, #7cd1dd);
      background-image: -ms-linear-gradient(top, #c4ebf1, #7cd1dd);
      background-image: -o-linear-gradient(top, #c4ebf1, #7cd1dd);
      background-image: linear-gradient(top, #c4ebf1, #7cd1dd); }
  a.button.docs {
    background-color: #afece4;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #afece4), color-stop(100%, #68d8ca));
    background-image: -webkit-linear-gradient(top, #afece4, #68d8ca);
    background-image: -moz-linear-gradient(top, #afece4, #68d8ca);
    background-image: -ms-linear-gradient(top, #afece4, #68d8ca);
    background-image: -o-linear-gradient(top, #afece4, #68d8ca);
    background-image: linear-gradient(top, #afece4, #68d8ca);
    border: 1px solid #22baa8;
    color: #278276;
    margin-left: 20px;
    text-shadow: 0px 1px #b0ebe4; }
    a.button.docs:hover {
      background-color: #c4f1eb;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c4f1eb), color-stop(100%, #7cddd1));
      background-image: -webkit-linear-gradient(top, #c4f1eb, #7cddd1);
      background-image: -moz-linear-gradient(top, #c4f1eb, #7cddd1);
      background-image: -ms-linear-gradient(top, #c4f1eb, #7cddd1);
      background-image: -o-linear-gradient(top, #c4f1eb, #7cddd1);
      background-image: linear-gradient(top, #c4f1eb, #7cddd1); }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

.show {
  -webkit-animation-name: poopin;
  -moz-animation-name: poopin;
  animation-name: poopin;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes poopin {
  50% {
    opacity: 0;
    -webkit-transform: scale(0) translateZ(0);
    -moz-transform: scale(0) translateZ(0);
    -ms-transform: scale(0) translateZ(0);
    -o-transform: scale(0) translateZ(0);
    transform: scale(0) translateZ(0); }

  to {
    opacity: 1;
    -webkit-transform: scale(1) translateZ(0);
    -moz-transform: scale(1) translateZ(0);
    -ms-transform: scale(1) translateZ(0);
    -o-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0); } }

@-moz-keyframes poopin {
  50% {
    opacity: 0;
    -webkit-transform: scale(0) translateZ(0);
    -moz-transform: scale(0) translateZ(0);
    -ms-transform: scale(0) translateZ(0);
    -o-transform: scale(0) translateZ(0);
    transform: scale(0) translateZ(0); }

  to {
    opacity: 1;
    -webkit-transform: scale(1) translateZ(0);
    -moz-transform: scale(1) translateZ(0);
    -ms-transform: scale(1) translateZ(0);
    -o-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0); } }

@keyframes poopin {
  50% {
    opacity: 0;
    -webkit-transform: scale(0) translateZ(0);
    -moz-transform: scale(0) translateZ(0);
    -ms-transform: scale(0) translateZ(0);
    -o-transform: scale(0) translateZ(0);
    transform: scale(0) translateZ(0); }

  to {
    opacity: 1;
    -webkit-transform: scale(1) translateZ(0);
    -moz-transform: scale(1) translateZ(0);
    -ms-transform: scale(1) translateZ(0);
    -o-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0); } }

.hide {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-name: poopout;
  -moz-animation-name: poopout;
  animation-name: poopout;
  -webkit-animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  animation-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045); }

@-webkit-keyframes poopout {
  from {
    -webkit-transform: scale(1) translateZ(0);
    -moz-transform: scale(1) translateZ(0);
    -ms-transform: scale(1) translateZ(0);
    -o-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0);
    opacity: 1; }

  50% {
    opacity: 0;
    -webkit-transform: scale(0) translateZ(0);
    -moz-transform: scale(0) translateZ(0);
    -ms-transform: scale(0) translateZ(0);
    -o-transform: scale(0) translateZ(0);
    transform: scale(0) translateZ(0); } }

@-moz-keyframes poopout {
  from {
    -webkit-transform: scale(1) translateZ(0);
    -moz-transform: scale(1) translateZ(0);
    -ms-transform: scale(1) translateZ(0);
    -o-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0);
    opacity: 1; }

  50% {
    opacity: 0;
    -webkit-transform: scale(0) translateZ(0);
    -moz-transform: scale(0) translateZ(0);
    -ms-transform: scale(0) translateZ(0);
    -o-transform: scale(0) translateZ(0);
    transform: scale(0) translateZ(0); } }

@keyframes poopout {
  from {
    -webkit-transform: scale(1) translateZ(0);
    -moz-transform: scale(1) translateZ(0);
    -ms-transform: scale(1) translateZ(0);
    -o-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0);
    opacity: 1; }

  50% {
    opacity: 0;
    -webkit-transform: scale(0) translateZ(0);
    -moz-transform: scale(0) translateZ(0);
    -ms-transform: scale(0) translateZ(0);
    -o-transform: scale(0) translateZ(0);
    transform: scale(0) translateZ(0); } }

header {
  padding: 2rem 0; }
  header .buttons {
    *zoom: 1;
    float: left;
    width: 328px; }
    header .buttons:before, header .buttons:after {
      content: " ";
      display: table; }
    header .buttons:after {
      clear: both; }
    @media screen and (max-width: 700px) {
      header .buttons {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%;
        margin-bottom: 20px; }
        header .buttons:last-child {
          margin-right: 0; }
        header .buttons .button {
          margin: 0;
          display: block;
          float: left;
          margin-right: 2.35765%;
          width: 48.82117%; }
          header .buttons .button:last-child {
            margin-right: 0; } }
  header h1.brand {
    background-color: transparent;
    border: 0;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
    width: -moz-calc(100% - (154px * 2 + 20px));
    width: -o-calc(100% - (154px * 2 + 20px));
    width: -webkit-calc(100% - (154px * 2 + 20px));
    width: calc(100% - (154px * 2 + 20px));
    background: url("../images/bourbon-logo.png") no-repeat;
    background-size: contain;
    display: block;
    height: 4.125rem;
    float: left;
    margin-bottom: 2rem; }
    @media screen and (max-width: 700px) {
      header h1.brand {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
        header h1.brand:last-child {
          margin-right: 0; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      header h1.brand {
        background-image: url("../images/bourbon-logo@2x.png"); } }

.content-wrapper {
  overflow: hidden; }

section.demo {
  -webkit-box-shadow: inset 0 -1px #eb412b, 0px 1px #e3e2dd;
  box-shadow: inset 0 -1px #eb412b, 0px 1px #e3e2dd;
  background-color: #f47a33;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f47a33), color-stop(100%, #f26234));
  background-image: -webkit-linear-gradient(top, #f47a33, #f26234);
  background-image: -moz-linear-gradient(top, #f47a33, #f26234);
  background-image: -ms-linear-gradient(top, #f47a33, #f26234);
  background-image: -o-linear-gradient(top, #f47a33, #f26234);
  background-image: linear-gradient(top, #f47a33, #f26234);
  border-top: 1px solid #eb412b;
  margin-bottom: -100px; }
  section.demo h2 {
    color: white;
    font-size: 4.5rem;
    line-height: 1.2em;
    padding: 50px 0;
    text-align: center;
    text-shadow: 0px 2px 2px #af5422; }
    @media screen and (max-width: 768px) {
      section.demo h2 {
        font-size: 2rem;
        line-height: 1.4em; } }
  section.demo .browser-wrapper {
    -webkit-border-image: url(../images/browser-frame.png) 23 10 0 62 repeat;
    -moz-border-image: url(../images/browser-frame.png) 23 10 0 62 repeat;
    -o-border-image: url(../images/browser-frame.png) 23 10 0 62 repeat;
    border-image: url(../images/browser-frame.png) 23 10 0 62 repeat;
    border-radius: 6px 6px 0px 0px;
    border-style: solid;
    border-width: 23px 10px 0px 62px;
    margin: 0 auto;
    max-width: 960px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      section.demo .browser-wrapper {
        -webkit-border-image: url(../images/browser-frame@2x.png) 46 20 0 124 repeat;
        -moz-border-image: url(../images/browser-frame@2x.png) 46 20 0 124 repeat;
        -o-border-image: url(../images/browser-frame@2x.png) 46 20 0 124 repeat;
        border-image: url(../images/browser-frame@2x.png) 46 20 0 124 repeat;
        border-width: 23px 10px 0px 62px; } }
  section.demo #browser-container {
    background: #494f57;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    max-width: 960px;
    position: relative;
    font-size: 18px;
    border-radius: 0px 0px 5px 5px; }

.browser-code {
  position: relative;
  color: #888;
  padding-left: 30px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden; }
  .browser-code pre {
    background: #494f57;
    border-radius: 0 0 5px 5px; }
  .browser-code .row ::before {
    background: rgba(255, 255, 255, 0);
    content: "";
    height: 19px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s; }
  .browser-code .row.active ::before, .browser-code .row:hover ::before {
    background: rgba(255, 255, 255, 0.025); }
  .browser-code .row:hover {
    cursor: pointer; }
  .browser-code .a {
    color: #F3712B; }
  .browser-code .b {
    color: #6aade0; }
  .browser-code .c {
    color: #90d8e3; }

.tooltip {
  background: white;
  border-radius: 4px;
  padding: 15px 30px 30px 30px;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 60%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  pointer-events: none; }
  .tooltip::before {
    content: "";
    height: 12px;
    width: 12px;
    position: absolute;
    left: -6px;
    top: 46%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background: white;
    line-height: 0; }
  .tooltip p {
    margin-top: 0; }
  .tooltip code {
    color: #5A5A5A; }

.show {
  pointer-events: auto; }

.tooltip.pos-under {
  width: 90% !important;
  left: 20px !important;
  padding: 15px 20px 20px !important;
  width: auto !important; }
  .tooltip.pos-under::before {
    left: 60px;
    top: -5px;
    background: white; }
  .tooltip.pos-under code {
    white-space: pre-wrap; }

@media screen and (max-width: 640px) {
  .browser-code {
    padding-left: 0px; }

  .tooltip {
    width: 90% !important;
    left: 20px !important;
    padding: 15px 20px 20px !important; }
    .tooltip::before {
      left: 60px;
      top: -5px;
      background: white; }
    .tooltip code {
      white-space: pre-wrap; } }
section.examples {
  -webkit-box-shadow: 0 -5px 0 5px white, 0 -6px 0 6px #eb412b;
  box-shadow: 0 -5px 0 5px white, 0 -6px 0 6px #eb412b;
  background-color: #f5f4f1;
  border-top: 1px solid #e3e2dd;
  padding-top: 100px; }
  section.examples .sass-wrapper {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 40.29137%; }
    section.examples .sass-wrapper:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      section.examples .sass-wrapper {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
        section.examples .sass-wrapper:last-child {
          margin-right: 0; } }
  section.examples .css-wrapper {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 57.35098%;
    margin-right: 0; }
    section.examples .css-wrapper:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      section.examples .css-wrapper {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
        section.examples .css-wrapper:last-child {
          margin-right: 0; } }

section.usage {
  -webkit-box-shadow: 0px -1px #bfccd4, 0px -1px 0 1px #d8e1e5, 0px -2px 0 2px #bfccd4;
  box-shadow: 0px -1px #bfccd4, 0px -1px 0 1px #d8e1e5, 0px -2px 0 2px #bfccd4;
  background-color: #f1f4f6;
  margin: 3rem 0 0;
  padding: 3rem 0 8rem; }
  @media screen and (max-width: 480px) {
    section.usage {
      margin: 1.5rem 0;
      padding: 1.5rem 0 4rem; } }
  section.usage h3 {
    font-size: 2rem;
    margin-bottom: 4rem;
    text-align: center;
    text-transform: uppercase; }
    @media screen and (max-width: 480px) {
      section.usage h3 {
        margin-bottom: 2rem; } }
  section.usage img.ruby {
    display: block;
    float: none;
    margin: 1rem auto;
    width: 125px; }
  section.usage .install-info {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-left: 34.11922%;
    clear: both;
    text-align: center; }
    section.usage .install-info:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      section.usage .install-info {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%;
        margin: 0; }
        section.usage .install-info:last-child {
          margin-right: 0; } }
  section.usage .install-instructions {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    clear: both; }
    section.usage .install-instructions:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      section.usage .install-instructions {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%;
        margin: 0; }
        section.usage .install-instructions:last-child {
          margin-right: 0; } }
  section.usage span a {
    width: 100%;
    margin-top: 3rem;
    text-align: center;
    display: block; }

section.apps {
  background-color: #d8e1e5;
  border-bottom: 1px solid #ced1d3;
  border-top: 1px solid #ced1d3;
  color: #535454;
  padding: 6rem 0;
  text-shadow: 0 1px white; }
  @media screen and (max-width: 480px) {
    section.apps {
      padding: 3rem 0; } }
  section.apps h3 {
    margin-bottom: 3rem;
    text-align: center; }
    @media screen and (max-width: 480px) {
      section.apps h3 {
        margin-bottom: 1.5rem; } }

section.apps ul.app-list {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 40.29137%;
  margin-top: 3rem; }
  section.apps ul.app-list:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    section.apps ul.app-list {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%; }
      section.apps ul.app-list:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    section.apps ul.app-list {
      margin-top: 1.5rem; } }
  section.apps ul.app-list li {
    *zoom: 1;
    margin-bottom: 2rem;
    padding-right: 20px; }
    section.apps ul.app-list li:before, section.apps ul.app-list li:after {
      content: " ";
      display: table; }
    section.apps ul.app-list li:after {
      clear: both; }
  section.apps ul.app-list li > a {
    background-color: transparent;
    border: 0;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
    display: block;
    height: 71px;
    width: 71px;
    float: left; }
    section.apps ul.app-list li > a.codekit {
      background: url("../images/codekit.png") no-repeat; }
    section.apps ul.app-list li > a.hammer {
      background: url("../images/hammer.png") no-repeat; }
    section.apps ul.app-list li > a.livereload {
      background: url("../images/livereload.png") no-repeat; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      section.apps ul.app-list li > a.codekit {
        background: url("../images/codekit@2x.png") no-repeat;
        background-size: 71px; }
      section.apps ul.app-list li > a.hammer {
        background: url("../images/hammer@2x.png") no-repeat;
        background-size: 71px; }
      section.apps ul.app-list li > a.livereload {
        background: url("../images/livereload@2x.png") no-repeat;
        background-size: 71px; } }
  section.apps ul.app-list li p {
    padding-left: 90px; }
    section.apps ul.app-list li p a {
      color: #535454; }

section.apps img {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 57.35098%;
  margin-right: 0; }
  section.apps img:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    section.apps img {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%; }
      section.apps img:last-child {
        margin-right: 0; } }

section.websites {
  padding: 6rem 0; }
  @media screen and (max-width: 480px) {
    section.websites {
      padding: 3rem 0; } }

section.websites a.website {
  *zoom: 1;
  background-color: transparent;
  border: 0;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: 3px solid white;
  display: block;
  margin-top: 2rem; }
  section.websites a.website:before, section.websites a.website:after {
    content: " ";
    display: table; }
  section.websites a.website:after {
    clear: both; }
  section.websites a.website:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    section.websites a.website {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 48.82117%; }
      section.websites a.website:last-child {
        margin-right: 0; }
      section.websites a.website:nth-child(2n) {
        margin-right: 0; } }
  @media screen and (max-width: 350px) {
    section.websites a.website {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%; }
      section.websites a.website:last-child {
        margin-right: 0; } }
  section.websites a.website img {
    max-width: 100%; }
    section.websites a.website img:hover {
      -webkit-filter: brightness(5%); }

footer {
  background-color: #494f57;
  margin-top: 3rem;
  padding: 3rem 0; }
  footer section.footer-text p {
    color: #bbb; }
  footer section.buttons {
    float: left;
    margin-top: 2rem;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%; }
    footer section.buttons:last-child {
      margin-right: 0; }
    footer section.buttons .button.docs {
      border-color: black; }
      @media screen and (max-width: 480px) {
        footer section.buttons .button.docs {
          display: block;
          float: left;
          margin-right: 2.35765%;
          width: 100%;
          margin: 10px 0 0; }
          footer section.buttons .button.docs:last-child {
            margin-right: 0; } }
    footer section.buttons .button.installation {
      border-color: black; }
      @media screen and (max-width: 480px) {
        footer section.buttons .button.installation {
          display: block;
          float: left;
          margin-right: 2.35765%;
          width: 100%; }
          footer section.buttons .button.installation:last-child {
            margin-right: 0; } }
