@charset "UTF-8";
/*
 * HTML5 âœ° Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* =============================================================================
   HTML5 element display
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /*overflow-y: scroll;*/
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231; }

body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #00e; }

a:visited {
  color: #551a8b; }

a:focus {
  outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button, input {
  line-height: normal;
  *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea {
  overflow: auto;
  vertical-align: top; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */
/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */ }
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */ }
/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
html, body {
  background-color: #faf8f2;
  color: #424242;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  height: 100%;
  width: 100%;
  min-width: 960px;
  margin: 0 auto; }
  html.docset, body.docset {
    width: 100%; }

html {
  padding: 0; }

h1 {
  font-weight: 600;
  margin-top: 0; }

h1, h2 {
  color: #222222;
  font-size: 26.652px;
  font-family: "proxima-nova-soft", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

h2 {
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 0; }

p + h2, div.highlight + h2 {
  margin-top: 2em; }

h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0.5em;
  margin-top: 2em; }

h4, h5, h6 {
  font-size: 13px;
  margin-top: 0; }

p {
  line-height: 1.5em; }

a, a:active, a:visited {
  color: #fc511d;
  text-decoration: none; }

a:hover {
  color: #c93103; }

div.wrapper {
  margin-bottom: 20px; }

.alert {
  color: #8b8880;
  font-size: 13px;
  font-style: italic; }

div.main-content {
  width: -webkit-calc(100% - 280px);
  width: calc(100% - 280px);
  height: 100%;
  margin-left: 280px; }

div.main-inner, div.docset-content {
  margin: 0 auto;
  width: 100%; }
  div.main-inner h2.tagline, div.docset-content h2.tagline {
    margin: 0; }
  div.main-inner h1, div.docset-content h1 {
    color: #8b8880;
    font-size: 30px;
    font-weight: 600;
    line-height: 1em;
    margin: 0;
    padding: 2em 0;
    text-align: center;
    text-shadow: 0 1px 0 white;
    text-transform: uppercase; }

div.docset-content {
  float: left;
  width: 100%; }
  div.docset-content h1 {
    text-align: left; }
  div.docset-content section.intro-wrapper article {
    text-align: left; }

section > article {
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  border-top: 1px #f0ead8 solid;
  padding: 4em 15%; }
  @media only screen and (min-width: 1250px) {
    section > article {
      padding: 4em 23%; } }
  section > article div.title-bar {
    margin-bottom: 1em; }
    section > article div.title-bar:after {
      content: "";
      display: table;
      clear: both; }
  section > article h2.title {
    float: left;
    margin-bottom: 0; }
  section > article a.view-source, section > article a.view-spec {
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    color: #c8c3b7;
    float: right;
    font-family: "proxima-nova-soft", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 2.65em;
    margin-top: 5px;
    text-shadow: 0 1px 0 white;
    text-transform: capitalize; }
    section > article a.view-source:hover, section > article a.view-spec:hover {
      border-radius: 20px;
      color: #a69f8c; }
  section > article a.view-spec {
    margin-right: 20px; }

section.intro-wrapper article {
  background: none;
  border: 0;
  padding: 0;
  text-align: center; }

article:target {
  box-shadow: inset 4px 0 0px 0 #fc511d;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.logo {
  overflow: hidden;
  height: 58px;
  width: 185px;
  background: url(../images/shared/bourbon-logo.png) no-repeat transparent;
  background-size: contain;
  border: 0;
  box-shadow: none;
  display: block;
  margin: 1.5em auto .5em 1em;
  padding: 0; }
  .logo:before {
    content: "";
    display: block;
    width: 0;
    height: 100%; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .logo {
      background-image: url(../images/shared/bourbon-logo@2x.png); } }

nav.fixed-nav {
  position: fixed;
  top: 0px;
  left: 0px;
  background: #fff;
  box-shadow: 0 0 0.5em 1px #ece4cd;
  height: 100%;
  overflow: auto;
  width: 280px; }
  nav.fixed-nav .list {
    margin: 0;
    padding: 0; }
    nav.fixed-nav .list li {
      line-height: 170%;
      list-style-type: none;
      padding: .3em 0; }
      nav.fixed-nav .list li:last-child {
        margin-bottom: 2em; }
      nav.fixed-nav .list li.title:not(:first-child) {
        margin-bottom: 5px;
        padding-top: 2em; }
      nav.fixed-nav .list li.title:last-child {
        margin-bottom: 30px; }
      nav.fixed-nav .list li.complete-list {
        margin-top: 1em;
        padding-top: 1em; }
      nav.fixed-nav .list li.deprecated {
        text-decoration: line-through; }
      nav.fixed-nav .list li.new a:after {
        border: 1px #53cad6 solid;
        border-radius: 3px;
        color: #53cad6;
        content: "New";
        display: inline-block;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: .1em;
        line-height: 1em;
        margin-left: 1em;
        padding: .5em 1em;
        text-transform: uppercase; }
      nav.fixed-nav .list li a {
        -webkit-transition: all 0.15s ease-out 0s;
        -moz-transition: all 0.15s ease-out 0s;
        transition: all 0.15s ease-out 0s;
        display: block;
        font-size: 13px;
        padding: 0 0 0 6em;
        position: relative; }
        nav.fixed-nav .list li a.active:before, nav.fixed-nav .list li a.inview:before {
          position: absolute;
          top: 12px;
          left: 42px;
          border-top: .25em solid #ccc;
          content: '';
          display: block;
          width: .8em; }
        nav.fixed-nav .list li a.active:before {
          border-color: #fc511d; }
        nav.fixed-nav .list li a.dash-app h3 {
          display: inline-block; }
        nav.fixed-nav .list li a.dash-app:after {
          content: "\2192";
          display: inline-block;
          margin-left: .5em; }
        nav.fixed-nav .list li a h3 {
          color: #4d4d4d;
          font-size: 13px;
          font-weight: bold;
          margin: 0;
          text-shadow: 0 1px 0 white;
          text-transform: uppercase; }
          nav.fixed-nav .list li a h3:hover {
            color: #666666; }

.social {
  background-color: #f47a33;
  background-image: -webkit-linear-gradient(#f47a33, #f26234);
  background-image: linear-gradient(#f47a33, #f26234);
  padding: .25em 4em; }
  .social:after {
    content: "";
    display: table;
    clear: both; }
  .social li {
    width: -webkit-calc(100% / 3);
    width: calc(100% / 3);
    display: inline-block;
    float: left; }
  .social a {
    overflow: hidden;
    height: 25px;
    width: 25px;
    background: url("../images/documentation/social-icons.svg") no-repeat center center;
    background-size: 300%;
    display: block;
    margin: 0 auto; }
    .social a:before {
      content: "";
      display: block;
      width: 0;
      height: 100%; }
    .social a.twitter {
      background-position: left center; }
    .social a.gitter {
      background-position: right center; }

div.highlight {
  background-color: transparent;
  width: 100%; }

pre {
  background-color: #FFF;
  border-radius: 3px;
  box-shadow: 0 0 0 1px #efe8d5;
  font-size: 13px;
  margin: 2.5em 0 1em 0;
  overflow: auto;
  padding: 1.5em 1em;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  white-space: pre;
  word-wrap: normal; }
  pre::-webkit-scrollbar {
    height: 7px;
    -webkit-appearance: none;
    width: 7px; }
  pre::-webkit-scrollbar-thumb {
    background-color: #ece4cd;
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }

p code, ul code, ol code {
  background-color: #faf8f2;
  border: 1px solid #ebe8e0;
  color: #454545;
  padding: 0 .2em; }

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  50% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  50% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  50% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes slide {
  0% {
    left: 0; }

  50% {
    left: 100px; }

  100% {
    left: 0; } }
@-moz-keyframes slide {
  0% {
    left: 0; }

  50% {
    left: 100px; }

  100% {
    left: 0; } }
@keyframes slide {
  0% {
    left: 0; }

  50% {
    left: 100px; }

  100% {
    left: 0; } }
.highlight {
  color: #657b83;
  background-color: #fdf6e3; }

.highlight .err {
  color: #dc322f;
  background-color: #eee8d5; }

.highlight .cp {
  color: #93a1a1;
  font-weight: bold; }

.highlight .cs {
  color: #93a1a1;
  font-weight: bold;
  font-style: italic; }

.highlight .gd {
  background-color: #fdd; }

.highlight .gd .x {
  background-color: #faa; }

.highlight .ge {
  font-style: italic; }

.highlight .gi {
  background-color: #dfd; }

.highlight .gi .x {
  background-color: #afa; }

.highlight .go {
  color: #657b83; }

.highlight .gu {
  color: #d33682;
  font-weight: bold; }

.highlight .gs {
  font-weight: bold; }

.highlight .gr, .highlight .gt {
  color: #d33682; }

.highlight .gh {
  color: #93a1a1; }

.highlight .gp {
  color: #93a1a1; }

.highlight .nb {
  color: #859900; }

.highlight .ni {
  color: #d33682; }

.highlight .nt {
  color: #268bd2; }

.highlight .w {
  color: #93a1a1; }

.highlight .sr {
  color: #859900; }

.highlight .ss {
  color: #2aa198; }

.highlight .c, .highlight .cm, .highlight .c1 {
  color: #93a1a1;
  font-style: italic; }

.highlight .k, .highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .o, .highlight .ow {
  font-weight: bold; }

.highlight .k {
  color: #859900; }

.highlight .kt {
  color: #b58900; }

.highlight .bp {
  color: #586e75; }

.highlight .nn {
  color: #586e75; }

.highlight .nc {
  color: #b58900;
  font-weight: bold; }

.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .il {
  color: #2aa198; }

.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .s1 {
  color: #2aa198; }

.highlight .na, .highlight .nv {
  color: #2aa198; }

.highlight .no {
  color: #b58900; }

.highlight .vc, .highlight .vg, .highlight .vi {
  color: #268bd2; }

.highlight .ne, .highlight .nf {
  color: #dc322f;
  font-weight: bold; }

div.box {
  border-radius: 40px;
  border: 1px solid #2aa4b2;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45);
  height: 40px;
  background-color: #8fdce5;
  background-image: -webkit-linear-gradient(#8fdce5, #3dc3d1);
  background-image: linear-gradient(#8fdce5, #3dc3d1);
  width: 40px; }

article#animations div.box:hover {
  -webkit-animation-name: scale, slide;
  -moz-animation-name: scale, slide;
  animation-name: scale, slide;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: relative; }

article#background-image section.demo {
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.15) 50%, transparent 50%), -webkit-linear-gradient(#8fdce5, #3dc3d1);
  background-image: linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.15) 50%, transparent 50%), linear-gradient(#8fdce5, #3dc3d1);
  height: 40px;
  width: 100%; }

article#border-image section.demo {
  -webkit-border-image: url(../images/documentation/border.png) 27 repeat;
  border-image: url(../images/documentation/border.png) 27 repeat;
  border-style: solid;
  border-width: 27px;
  width: 81px;
  height: 27px; }

article#box-shadow section.demo div.example {
  background-image: -webkit-linear-gradient(top, #8fdce5, #3dc3d1);
  background-image: linear-gradient(to bottom, #8fdce5, #3dc3d1);
  height: 50px;
  width: 100px; }
  article#box-shadow section.demo div.example.single {
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.65); }

article#perspective section.demo div.example {
  width: 100px;
  height: 100px;
  margin-left: 5px;
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  perspective: 300px;
  -webkit-perspective-origin: 30% 30%;
  -moz-perspective-origin: 30% 30%;
  perspective-origin: 30% 30%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  article#perspective section.demo div.example div {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    border: none;
    line-height: 100px;
    font-family: arial, sans-serif;
    font-size: 60px;
    color: white;
    text-align: center; }
  article#perspective section.demo div.example div.front {
    background: rgba(0, 0, 0, 0.3);
    -webkit-transform: translateZ(50px);
    -moz-transform: translateZ(50px);
    -ms-transform: translateZ(50px);
    -o-transform: translateZ(50px);
    transform: translateZ(50px); }
  article#perspective section.demo div.example div.back {
    background: lime;
    color: black;
    -webkit-transform: translateZ(-50px);
    -moz-transform: translateZ(-50px);
    -ms-transform: translateZ(-50px);
    -o-transform: translateZ(-50px);
    transform: translateZ(-50px); }
  article#perspective section.demo div.example div.right {
    background: rgba(196, 0, 0, 0.7);
    -webkit-transform: rotateY(90deg) translateZ(50px);
    -moz-transform: rotateY(90deg) translateZ(50px);
    -ms-transform: rotateY(90deg) translateZ(50px);
    -o-transform: rotateY(90deg) translateZ(50px);
    transform: rotateY(90deg) translateZ(50px); }
  article#perspective section.demo div.example div.left {
    background: rgba(0, 0, 196, 0.7);
    -webkit-transform: rotateY(-90deg) translateZ(50px);
    -moz-transform: rotateY(-90deg) translateZ(50px);
    -ms-transform: rotateY(-90deg) translateZ(50px);
    -o-transform: rotateY(-90deg) translateZ(50px);
    transform: rotateY(-90deg) translateZ(50px); }
  article#perspective section.demo div.example div.top {
    background: rgba(196, 196, 0, 0.7);
    -webkit-transform: rotateX(90deg) translateZ(50px);
    -moz-transform: rotateX(90deg) translateZ(50px);
    -ms-transform: rotateX(90deg) translateZ(50px);
    -o-transform: rotateX(90deg) translateZ(50px);
    transform: rotateX(90deg) translateZ(50px); }
  article#perspective section.demo div.example div.bottom {
    background: rgba(196, 0, 196, 0.7);
    -webkit-transform: rotateX(-90deg) translateZ(50px);
    -moz-transform: rotateX(-90deg) translateZ(50px);
    -ms-transform: rotateX(-90deg) translateZ(50px);
    -o-transform: rotateX(-90deg) translateZ(50px);
    transform: rotateX(-90deg) translateZ(50px); }

article#linear-gradient section.demo {
  background-color: #8fdce5;
  background-image: -webkit-linear-gradient(#8fdce5, #3dc3d1);
  background-image: linear-gradient(#8fdce5, #3dc3d1);
  height: 40px; }

article#linear-gradient-function section.demo {
  background-image: -webkit-linear-gradient(#8fdce5, #3dc3d1);
  background-image: linear-gradient(#8fdce5, #3dc3d1);
  height: 40px; }

article#radial-gradient section.demo, article#radial-gradient-function section.demo {
  background-image: -webkit-radial-gradient(50% 50%, circle cover, #8fdce5, #3dc3d1);
  background-image: radial-gradient( circle  at 50% 50%, #8fdce5, #3dc3d1);
  height: 40px; }

article#buttons section.demo button.example-1 {
  border: 1px solid #076fe4;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #8ebcf1;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #4294f0;
  background-image: -webkit-linear-gradient(#4294f0, #0776f3);
  background-image: linear-gradient(#4294f0, #0776f3);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #0065d6;
  background-clip: padding-box; }
  article#buttons section.demo button.example-1:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #60a2ec;
    cursor: pointer;
    background-color: #2f87ea;
    background-image: -webkit-linear-gradient(#2f87ea, #086fe3);
    background-image: linear-gradient(#2f87ea, #086fe3); }
  article#buttons section.demo button.example-1:active:not(:disabled), article#buttons section.demo button.example-1:focus:not(:disabled) {
    border: 1px solid #076fe4;
    box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3; }
  article#buttons section.demo button.example-1:disabled {
    opacity: 0.5;
    cursor: not-allowed; }
article#buttons section.demo button.example-2 {
  border: 1px solid #3371b2;
  border-color: #3371b2 #2457a3 #164297;
  border-radius: 16px;
  box-shadow: inset 0 1px 0 0 #64a9f2;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: normal;
  line-height: 1;
  background-color: #4294f0;
  background-image: -webkit-linear-gradient(#4294f0, #0156fe);
  background-image: linear-gradient(#4294f0, #0156fe);
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #2762bf;
  background-clip: padding-box; }
  article#buttons section.demo button.example-2:hover:not(:disabled) {
    border: 1px solid #2062a7;
    border-color: #2062a7 #0e479a #01318e;
    box-shadow: inset 0 1px 0 0 #519cf0;
    cursor: pointer;
    background-color: #2d88ee;
    background-image: -webkit-linear-gradient(#2d88ee, #1554ce);
    background-image: linear-gradient(#2d88ee, #1554ce);
    text-shadow: 0 -1px 1px #134faf;
    background-clip: padding-box; }
  article#buttons section.demo button.example-2:active:not(:disabled), article#buttons section.demo button.example-2:focus:not(:disabled) {
    background: #226edd;
    border: 1px solid #0d3c8c;
    border-bottom: 1px solid #062d8d;
    box-shadow: inset 0 0 6px 3px #0c44b8;
    text-shadow: 0 -1px 1px #1a52aa; }
  article#buttons section.demo button.example-2:disabled {
    opacity: 0.5;
    cursor: not-allowed; }
article#buttons section.demo button.example-3 {
  border: 1px solid #8a0000;
  border-bottom: 1px solid #810000;
  border-radius: 5px;
  box-shadow: inset 0 1px 0 0 #ff1d0c;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: red;
  background-image: -webkit-linear-gradient(top, red 0%, #c70000 50%, #a90000 50%, #b00000 100%);
  background-image: linear-gradient(to bottom,red 0%, #c70000 50%, #a90000 50%, #b00000 100%);
  padding: 7px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #730000; }
  article#buttons section.demo button.example-3:hover:not(:disabled) {
    cursor: pointer;
    background-color: #f20000;
    background-image: -webkit-linear-gradient(top, #f20000 0%, #bd0000 50%, #a20000 50%, #a90000 100%);
    background-image: linear-gradient(to bottom,#f20000 0%, #bd0000 50%, #a20000 50%, #a90000 100%); }
  article#buttons section.demo button.example-3:active:not(:disabled), article#buttons section.demo button.example-3:focus:not(:disabled) {
    box-shadow: inset 0 0 20px 0 #900000; }
  article#buttons section.demo button.example-3:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

article#timing-functions section.demo ul {
  margin: 0;
  padding: 0; }
  article#timing-functions section.demo ul li {
    list-style-type: none; }
article#timing-functions section.demo code {
  display: inline-block;
  width: 228px;
  margin-right: 16px;
  vertical-align: top; }
article#timing-functions section.demo div.box {
  display: inline-block; }
article#timing-functions section.demo:hover div.box {
  -webkit-transform: translateX(500px);
  -moz-transform: translateX(500px);
  -ms-transform: translateX(500px);
  -o-transform: translateX(500px);
  transform: translateX(500px); }
article#timing-functions section.demo div.box {
  height: 20px;
  width: 20px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 2.6s;
  -moz-transition-duration: 2.6s;
  transition-duration: 2.6s; }
article#timing-functions section.demo div.ease-in-quad {
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -moz-transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); }
article#timing-functions section.demo div.ease-in-cubic {
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
article#timing-functions section.demo div.ease-in-quart {
  -webkit-transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -moz-transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22); }
article#timing-functions section.demo div.ease-in-quint {
  -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); }
article#timing-functions section.demo div.ease-in-sine {
  -webkit-transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  -moz-transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715); }
article#timing-functions section.demo div.ease-in-expo {
  -webkit-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -moz-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035); }
article#timing-functions section.demo div.ease-in-circ {
  -webkit-transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -moz-transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335); }
article#timing-functions section.demo div.ease-in-back {
  -webkit-transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045); }
article#timing-functions section.demo div.ease-out-quad {
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }
article#timing-functions section.demo div.ease-out-cubic {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
article#timing-functions section.demo div.ease-out-quart {
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }
article#timing-functions section.demo div.ease-out-quint {
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }
article#timing-functions section.demo div.ease-out-sine {
  -webkit-transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1); }
article#timing-functions section.demo div.ease-out-expo {
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
article#timing-functions section.demo div.ease-out-circ {
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); }
article#timing-functions section.demo div.ease-out-back {
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
article#timing-functions section.demo div.ease-in-out-quad {
  -webkit-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); }
article#timing-functions section.demo div.ease-in-out-cubic {
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); }
article#timing-functions section.demo div.ease-in-out-quart {
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1); }
article#timing-functions section.demo div.ease-in-out-quint {
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1); }
article#timing-functions section.demo div.ease-in-out-sine {
  -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95); }
article#timing-functions section.demo div.ease-in-out-expo {
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-timing-function: cubic-bezier(1, 0, 0, 1); }
article#timing-functions section.demo div.ease-in-out-circ {
  -webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86); }
article#timing-functions section.demo div.ease-in-out-back {
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55); }

article#triangle section.demo div.up {
  height: 0;
  width: 0;
  border-left: 10px solid #faf8f2;
  border-right: 10px solid #faf8f2;
  border-bottom: 20px solid gray;
  display: inline-block;
  margin-right: 5px; }
article#triangle section.demo div.right {
  height: 0;
  width: 0;
  border-top: 10px solid #faf8f2;
  border-bottom: 10px solid #faf8f2;
  border-left: 20px solid gray;
  display: inline-block;
  margin-right: 5px; }
article#triangle section.demo div.down {
  height: 0;
  width: 0;
  border-left: 10px solid #faf8f2;
  border-right: 10px solid #faf8f2;
  border-top: 20px solid gray;
  display: inline-block;
  margin-right: 5px; }
article#triangle section.demo div.left {
  height: 0;
  width: 0;
  border-top: 10px solid #faf8f2;
  border-bottom: 10px solid #faf8f2;
  border-right: 20px solid gray;
  display: inline-block;
  margin-right: 5px; }
article#triangle section.demo div.up-right {
  height: 0;
  width: 0;
  border-top: 20px solid gray;
  border-left: 20px solid lavender;
  display: inline-block;
  margin-right: 5px; }
article#triangle section.demo div.down-right {
  height: 0;
  width: 0;
  border-bottom: 20px solid gray;
  border-left: 20px solid lavender;
  display: inline-block;
  margin-right: 5px; }
article#triangle section.demo div.down-left {
  height: 0;
  width: 0;
  border-bottom: 20px solid gray;
  border-right: 20px solid lavender;
  display: inline-block;
  margin-right: 5px; }
article#triangle section.demo div.up-left {
  height: 0;
  width: 0;
  border-top: 20px solid gray;
  border-right: 20px solid lavender;
  display: inline-block;
  margin-right: 5px; }
