@charset "UTF-8";
/*
 * HTML5 âœ° Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* =============================================================================
   HTML5 element display
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /*overflow-y: scroll;*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231; }

body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #00e; }

a:visited {
  color: #551a8b; }

a:focus {
  outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button, input {
  line-height: normal;
  *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea {
  overflow: auto;
  vertical-align: top; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */
/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, nav.fixed-nav:before, div.main-content:before, .clearfix:after, nav.fixed-nav:after, div.main-content:after {
  content: "";
  display: table; }

.clearfix:after, nav.fixed-nav:after, div.main-content:after {
  clear: both; }

.clearfix, nav.fixed-nav, div.main-content {
  zoom: 1; }

/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */ }
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */ }
/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  50% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  50% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  50% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

.highlight {
  color: #657b83;
  background-color: #fdf6e3; }

.highlight .err {
  color: #dc322f;
  background-color: #eee8d5; }

.highlight .cp {
  color: #93a1a1;
  font-weight: bold; }

.highlight .cs {
  color: #93a1a1;
  font-weight: bold;
  font-style: italic; }

.highlight .gd {
  background-color: #fdd; }

.highlight .gd .x {
  background-color: #faa; }

.highlight .ge {
  font-style: italic; }

.highlight .gi {
  background-color: #dfd; }

.highlight .gi .x {
  background-color: #afa; }

.highlight .go {
  color: #657b83; }

.highlight .gu {
  color: #d33682;
  font-weight: bold; }

.highlight .gs {
  font-weight: bold; }

.highlight .gr, .highlight .gt {
  color: #d33682; }

.highlight .gh {
  color: #93a1a1; }

.highlight .gp {
  color: #93a1a1; }

.highlight .nb {
  color: #859900; }

.highlight .ni {
  color: #d33682; }

.highlight .nt {
  color: #268bd2; }

.highlight .w {
  color: #93a1a1; }

.highlight .sr {
  color: #859900; }

.highlight .ss {
  color: #2aa198; }

.highlight .c, .highlight .cm, .highlight .c1 {
  color: #93a1a1;
  font-style: italic; }

.highlight .k, .highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .o, .highlight .ow {
  font-weight: bold; }

.highlight .k {
  color: #859900; }

.highlight .kt {
  color: #b58900; }

.highlight .bp {
  color: #586e75; }

.highlight .nn {
  color: #586e75; }

.highlight .nc {
  color: #b58900;
  font-weight: bold; }

.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .il {
  color: #2aa198; }

.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .s1 {
  color: #2aa198; }

.highlight .na, .highlight .nv {
  color: #2aa198; }

.highlight .no {
  color: #b58900; }

.highlight .vc, .highlight .vg, .highlight .vi {
  color: #268bd2; }

.highlight .ne, .highlight .nf {
  color: #dc322f;
  font-weight: bold; }

section#animations div.box:hover {
  -webkit-animation-name: scale;
  -moz-animation-name: scale;
  animation-name: scale;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

section#background-image section.demo {
  height: 40px;
  width: 100%;
  background-image: url("/images/a.png"), -webkit-linear-gradient(top, #333333, #999999);
  background-image: url("/images/a.png"), -moz-linear-gradient(top, #333333, #999999);
  background-image: url("/images/a.png"), -ms-linear-gradient(top, #333333, #999999);
  background-image: url("/images/a.png"), -o-linear-gradient(top, #333333, #999999);
  background-image: url("/images/a.png"), linear-gradient(top, #333333, #999999); }

section#buttons section.demo button.example-1 {
  border: 1px solid #076fe4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #8ebcf1;
  -moz-box-shadow: inset 0 1px 0 0 #8ebcf1;
  -ms-box-shadow: inset 0 1px 0 0 #8ebcf1;
  -o-box-shadow: inset 0 1px 0 0 #8ebcf1;
  box-shadow: inset 0 1px 0 0 #8ebcf1;
  color: white;
  display: inline;
  font-size: 11px;
  font-weight: bold;
  background-color: #4294f0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4294f0), color-stop(100%, #0776f3));
  background-image: -webkit-linear-gradient(top, #4294f0, #0776f3);
  background-image: -moz-linear-gradient(top, #4294f0, #0776f3);
  background-image: -ms-linear-gradient(top, #4294f0, #0776f3);
  background-image: -o-linear-gradient(top, #4294f0, #0776f3);
  background-image: linear-gradient(top, #4294f0, #0776f3);
  padding: 6px 18px 7px;
  text-shadow: 0 1px 0 #0065d6;
  -webkit-background-clip: padding-box; }
  section#buttons section.demo button.example-1:hover {
    -webkit-box-shadow: inset 0 1px 0 0 #60a2ec;
    -moz-box-shadow: inset 0 1px 0 0 #60a2ec;
    -ms-box-shadow: inset 0 1px 0 0 #60a2ec;
    -o-box-shadow: inset 0 1px 0 0 #60a2ec;
    box-shadow: inset 0 1px 0 0 #60a2ec;
    cursor: pointer;
    background-color: #2f87ea;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2f87ea), color-stop(100%, #086fe3));
    background-image: -webkit-linear-gradient(top, #2f87ea, #086fe3);
    background-image: -moz-linear-gradient(top, #2f87ea, #086fe3);
    background-image: -ms-linear-gradient(top, #2f87ea, #086fe3);
    background-image: -o-linear-gradient(top, #2f87ea, #086fe3);
    background-image: linear-gradient(top, #2f87ea, #086fe3); }
  section#buttons section.demo button.example-1:active {
    border: 1px solid #076fe4;
    -webkit-box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee;
    -moz-box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee;
    -ms-box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee;
    -o-box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee; }
section#buttons section.demo button.example-2 {
  background-color: #4294f0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4294f0), color-stop(100%, #0156fe));
  background-image: -webkit-linear-gradient(top, #4294f0, #0156fe);
  background-image: -moz-linear-gradient(top, #4294f0, #0156fe);
  background-image: -ms-linear-gradient(top, #4294f0, #0156fe);
  background-image: -o-linear-gradient(top, #4294f0, #0156fe);
  background-image: linear-gradient(top, #4294f0, #0156fe);
  border: 1px solid #3371b2;
  border-color: #3371b2 #2457a3 #164297;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
  -webkit-box-shadow: inset 0 1px 0 0 #64a9f2, 0 1px 2px 0 #b3b3b3;
  -moz-box-shadow: inset 0 1px 0 0 #64a9f2, 0 1px 2px 0 #b3b3b3;
  -ms-box-shadow: inset 0 1px 0 0 #64a9f2, 0 1px 2px 0 #b3b3b3;
  -o-box-shadow: inset 0 1px 0 0 #64a9f2, 0 1px 2px 0 #b3b3b3;
  box-shadow: inset 0 1px 0 0 #64a9f2, 0 1px 2px 0 #b3b3b3;
  color: white;
  display: inline;
  font-size: 11px;
  font-weight: normal;
  line-height: 1;
  padding: 3px 16px 5px;
  text-align: center;
  text-shadow: 0 -1px 1px #2762bf;
  -webkit-background-clip: padding-box; }
  section#buttons section.demo button.example-2:hover {
    background-color: #2d88ee;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2d88ee), color-stop(100%, #1554ce));
    background-image: -webkit-linear-gradient(top, #2d88ee, #1554ce);
    background-image: -moz-linear-gradient(top, #2d88ee, #1554ce);
    background-image: -ms-linear-gradient(top, #2d88ee, #1554ce);
    background-image: -o-linear-gradient(top, #2d88ee, #1554ce);
    background-image: linear-gradient(top, #2d88ee, #1554ce);
    border: 1px solid #2062a7;
    border-color: #2062a7 #0e479a #01318e;
    -webkit-box-shadow: inset 0 1px 0 0 #519cf0;
    -moz-box-shadow: inset 0 1px 0 0 #519cf0;
    -ms-box-shadow: inset 0 1px 0 0 #519cf0;
    -o-box-shadow: inset 0 1px 0 0 #519cf0;
    box-shadow: inset 0 1px 0 0 #519cf0;
    cursor: pointer;
    text-shadow: 0 -1px 1px #134faf;
    -webkit-background-clip: padding-box; }
  section#buttons section.demo button.example-2:active {
    background: #226edd;
    border: 1px solid #0d3c8c;
    border-bottom: 1px solid #062d8d;
    -webkit-box-shadow: inset 0 0 6px 3px #0c44b8, 0 1px 0 0 white;
    -moz-box-shadow: inset 0 0 6px 3px #0c44b8, 0 1px 0 0 white;
    -ms-box-shadow: inset 0 0 6px 3px #0c44b8, 0 1px 0 0 white;
    -o-box-shadow: inset 0 0 6px 3px #0c44b8, 0 1px 0 0 white;
    box-shadow: inset 0 0 6px 3px #0c44b8, 0 1px 0 0 white;
    text-shadow: 0 -1px 1px #1a52aa; }
section#buttons section.demo button.example-3 {
  background-color: red;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, red), color-stop(50%, #c70000), color-stop(50%, #a90000), color-stop(100%, #b00000));
  background-image: -webkit-linear-gradient(top, red 0%, #c70000 50%, #a90000 50%, #b00000 100%);
  background-image: -moz-linear-gradient(top, red 0%, #c70000 50%, #a90000 50%, #b00000 100%);
  background-image: -ms-linear-gradient(top, red 0%, #c70000 50%, #a90000 50%, #b00000 100%);
  background-image: -o-linear-gradient(top, red 0%, #c70000 50%, #a90000 50%, #b00000 100%);
  background-image: linear-gradient(top, red 0%, #c70000 50%, #a90000 50%, #b00000 100%);
  border: 1px solid #8a0000;
  border-bottom: 1px solid #810000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 #ff1d0c;
  -moz-box-shadow: inset 0 1px 0 0 #ff1d0c;
  -ms-box-shadow: inset 0 1px 0 0 #ff1d0c;
  -o-box-shadow: inset 0 1px 0 0 #ff1d0c;
  box-shadow: inset 0 1px 0 0 #ff1d0c;
  color: white;
  display: inline;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 20px 8px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 1px #730000; }
  section#buttons section.demo button.example-3:hover {
    background-color: #f20000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f20000), color-stop(50%, #bd0000), color-stop(50%, #a20000), color-stop(100%, #a90000));
    background-image: -webkit-linear-gradient(top, #f20000 0%, #bd0000 50%, #a20000 50%, #a90000 100%);
    background-image: -moz-linear-gradient(top, #f20000 0%, #bd0000 50%, #a20000 50%, #a90000 100%);
    background-image: -ms-linear-gradient(top, #f20000 0%, #bd0000 50%, #a20000 50%, #a90000 100%);
    background-image: -o-linear-gradient(top, #f20000 0%, #bd0000 50%, #a20000 50%, #a90000 100%);
    background-image: linear-gradient(top, #f20000 0%, #bd0000 50%, #a20000 50%, #a90000 100%);
    cursor: pointer; }
  section#buttons section.demo button.example-3:active {
    -webkit-box-shadow: inset 0 0 20px 0 #900000, 0 1px 0 white;
    -moz-box-shadow: inset 0 0 20px 0 #900000, 0 1px 0 white;
    -ms-box-shadow: inset 0 0 20px 0 #900000, 0 1px 0 white;
    -o-box-shadow: inset 0 0 20px 0 #900000, 0 1px 0 white;
    box-shadow: inset 0 0 20px 0 #900000, 0 1px 0 white; }

section#timing-functions section.demo ul {
  margin: 0;
  padding: 0; }
  section#timing-functions section.demo ul li {
    list-style-type: none; }
section#timing-functions section.demo p {
  display: inline-block;
  width: 106px;
  margin-right: 16px;
  vertical-align: top; }
section#timing-functions section.demo div.box {
  display: inline-block; }
section#timing-functions section.demo:hover div.box {
  -webkit-transform: translateX(500px);
  -moz-transform: translateX(500px);
  -ms-transform: translateX(500px);
  -o-transform: translateX(500px);
  transform: translateX(500px); }
section#timing-functions section.demo div.box {
  height: 20px;
  width: 20px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 5s;
  -moz-transition-duration: 5s;
  -ms-transition-duration: 5s;
  -o-transition-duration: 5s;
  transition-duration: 5s; }
section#timing-functions section.demo div.ease-in-quad {
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -moz-transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -ms-transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53); }
section#timing-functions section.demo div.ease-in-cubic {
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -moz-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -ms-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
section#timing-functions section.demo div.ease-in-quart {
  -webkit-transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -moz-transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -ms-transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -o-transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22); }
section#timing-functions section.demo div.ease-in-quint {
  -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -moz-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -ms-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  -o-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06); }
section#timing-functions section.demo div.ease-in-sine {
  -webkit-transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  -moz-transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  -ms-transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  -o-transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715); }
section#timing-functions section.demo div.ease-in-expo {
  -webkit-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -moz-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -ms-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  -o-transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035); }
section#timing-functions section.demo div.ease-in-circ {
  -webkit-transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -moz-transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -ms-transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -o-transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335); }
section#timing-functions section.demo div.ease-out-quad {
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }
section#timing-functions section.demo div.ease-out-cubic {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -ms-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
section#timing-functions section.demo div.ease-out-quart {
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -ms-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }
section#timing-functions section.demo div.ease-out-quint {
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }
section#timing-functions section.demo div.ease-out-sine {
  -webkit-transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  -ms-transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  -o-transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1); }
section#timing-functions section.demo div.ease-out-expo {
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
section#timing-functions section.demo div.ease-out-circ {
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); }
section#timing-functions section.demo div.ease-in-out-quad {
  -webkit-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955); }
section#timing-functions section.demo div.ease-in-out-cubic {
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1); }
section#timing-functions section.demo div.ease-in-out-quart {
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -ms-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1); }
section#timing-functions section.demo div.ease-in-out-quint {
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1); }
section#timing-functions section.demo div.ease-in-out-sine {
  -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -ms-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -o-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95); }
section#timing-functions section.demo div.ease-in-out-expo {
  -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -moz-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -ms-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  -o-transition-timing-function: cubic-bezier(1, 0, 0, 1);
  transition-timing-function: cubic-bezier(1, 0, 0, 1); }
section#timing-functions section.demo div.ease-in-out-circ {
  -webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86); }

section#border-radius section.demo div.example {
  background-image: -webkit-linear-gradient(top, #f9438f, #d0065a);
  background-image: -moz-linear-gradient(top, #f9438f, #d0065a);
  background-image: -ms-linear-gradient(top, #f9438f, #d0065a);
  background-image: -o-linear-gradient(top, #f9438f, #d0065a);
  background-image: linear-gradient(top, #f9438f, #d0065a);
  height: 50px;
  width: 200px; }
section#border-radius section.demo div.example.equal {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }
section#border-radius section.demo div.example.different {
  -webkit-border-radius: 5px 10px 20px 30px;
  -moz-border-radius: 5px 10px 20px 30px;
  -ms-border-radius: 5px 10px 20px 30px;
  -o-border-radius: 5px 10px 20px 30px;
  border-radius: 5px 10px 20px 30px; }

section#box-shadow section.demo div.wrapper div.example {
  background-image: -webkit-linear-gradient(top, #f9438f, #d0065a);
  background-image: -moz-linear-gradient(top, #f9438f, #d0065a);
  background-image: -ms-linear-gradient(top, #f9438f, #d0065a);
  background-image: -o-linear-gradient(top, #f9438f, #d0065a);
  background-image: linear-gradient(top, #f9438f, #d0065a);
  height: 100px;
  width: 100px; }
section#box-shadow section.demo div.wrapper div.example.single {
  -webkit-box-shadow: 0 0 10px 0 black;
  -moz-box-shadow: 0 0 10px 0 black;
  -ms-box-shadow: 0 0 10px 0 black;
  -o-box-shadow: 0 0 10px 0 black;
  box-shadow: 0 0 10px 0 black; }
section#box-shadow section.demo div.wrapper div.example.double {
  -webkit-box-shadow: 1px 1px 10px 0 green, -1px -1px 10px 0 blue;
  -moz-box-shadow: 1px 1px 10px 0 green, -1px -1px 10px 0 blue;
  -ms-box-shadow: 1px 1px 10px 0 green, -1px -1px 10px 0 blue;
  -o-box-shadow: 1px 1px 10px 0 green, -1px -1px 10px 0 blue;
  box-shadow: 1px 1px 10px 0 green, -1px -1px 10px 0 blue; }

html, body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 100%;
  width: 100%;
  background-color: #f3f1ec; }

html {
  padding: 0; }

h1 {
  font-size: 36.651px;
  font-weight: 300;
  margin-top: 0; }

h2 {
  font-size: 26.652px;
  margin-top: 0;
  font-weight: 300;
  margin-bottom: 0.5em; }

p + h2, div.highlight + h2 {
  margin-top: 2em; }

h3 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0.5em;
  margin-top: 2em; }

h4, h5, h6 {
  font-size: 13px;
  margin-top: 0; }

p {
  line-height: 1.5em; }

a, a:link, a:active, a:visited {
  color: #2685f2;
  text-decoration: none; }

a:hover {
  color: #0656b2; }

nav.fixed-nav {
  clear: left;
  float: left;
  min-height: 300px;
  width: 228px; }
  nav.fixed-nav ul {
    margin-top: 40px;
    margin: 0;
    height: 100%;
    overflow-y: scroll;
    padding: 0;
    position: fixed;
    width: inherit;
    background-color: #edeae3;
    border: 1px solid #d8d1c0;
    border-top: 0;
    border-bottom: 0;
    -webkit-box-shadow: inset -1px 0 0px rgba(255, 255, 255, 0.75), inset 1px 0 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: inset -1px 0 0px rgba(255, 255, 255, 0.75), inset 1px 0 0px rgba(255, 255, 255, 0.75);
    -ms-box-shadow: inset -1px 0 0px rgba(255, 255, 255, 0.75), inset 1px 0 0px rgba(255, 255, 255, 0.75);
    -o-box-shadow: inset -1px 0 0px rgba(255, 255, 255, 0.75), inset 1px 0 0px rgba(255, 255, 255, 0.75);
    box-shadow: inset -1px 0 0px rgba(255, 255, 255, 0.75), inset 1px 0 0px rgba(255, 255, 255, 0.75); }
    nav.fixed-nav ul input[type="search"] {
      margin-left: 20px; }
    nav.fixed-nav ul li {
      list-style-type: none;
      line-height: 180%; }
      nav.fixed-nav ul li:first-child {
        margin-top: 15px; }
      nav.fixed-nav ul li.title:not(:first-child) {
        margin-top: 10px; }
      nav.fixed-nav ul li a {
        display: block;
        -webkit-transition-property: all;
        -moz-transition-property: all;
        -ms-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        -moz-transition-duration: 0.15s;
        -ms-transition-duration: 0.15s;
        -o-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: ease-out;
        -moz-transition-timing-function: ease-out;
        -ms-transition-timing-function: ease-out;
        -o-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        -webkit-transition-delay: 0;
        -moz-transition-delay: 0;
        -ms-transition-delay: 0;
        -o-transition-delay: 0;
        transition-delay: 0;
        padding: 0 20px; }
        nav.fixed-nav ul li a:hover {
          background-color: #f3f1ec; }
        nav.fixed-nav ul li a h3 {
          color: black;
          margin: 0; }

div.main-content {
  margin: 0 auto;
  padding: 0px 16px;
  width: 1082px; }

div.main-inner {
  background: white;
  border: 1px solid #ebe8e0;
  border-left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  clear: right;
  float: left;
  padding: 35px 0px;
  width: 854px; }
  div.main-inner h1 {
    border-bottom: 1px solid #ededed; }
    div.main-inner h1 span a {
      font-size: 13px;
      float: right;
      margin-top: 20px; }
  div.main-inner > h1 {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0; }
  div.main-inner > section {
    border: 1px solid transparent;
    border-bottom: 1px solid #ebe8e0;
    padding: 30px 28px; }
    div.main-inner > section + h1 {
      margin-top: 100px; }
    div.main-inner > section#intro {
      border-bottom: none;
      padding-bottom: 0; }
      div.main-inner > section#intro + h1 {
        margin-top: 40px; }
  div.main-inner > section:target {
    -webkit-box-shadow: inset 4px 0 0px 0 #fc511d;
    -moz-box-shadow: inset 4px 0 0px 0 #fc511d;
    -ms-box-shadow: inset 4px 0 0px 0 #fc511d;
    -o-box-shadow: inset 4px 0 0px 0 #fc511d;
    box-shadow: inset 4px 0 0px 0 #fc511d;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -ms-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0; }
    div.main-inner > section:target h2 {
      font-weight: 500; }

div.wrapper {
  margin-bottom: 20px; }

div.highlight {
  background-color: transparent;
  width: 100%; }

pre {
  background-color: #fef9ec;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 0 1px #fbedc6;
  -moz-box-shadow: 0 0 0 1px #fbedc6;
  -ms-box-shadow: 0 0 0 1px #fbedc6;
  -o-box-shadow: 0 0 0 1px #fbedc6;
  box-shadow: 0 0 0 1px #fbedc6;
  margin: 1em 0;
  overflow: auto;
  padding: 7px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  -ms-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
  white-space: pre;
  word-wrap: normal; }
  pre:hover {
    background-color: #fdf4de;
    -webkit-box-shadow: 0 0 0 1px #f8e1a0;
    -moz-box-shadow: 0 0 0 1px #f8e1a0;
    -ms-box-shadow: 0 0 0 1px #f8e1a0;
    -o-box-shadow: 0 0 0 1px #f8e1a0;
    box-shadow: 0 0 0 1px #f8e1a0; }
  pre::-webkit-scrollbar {
    height: 7px;
    -webkit-appearance: none;
    width: 7px; }
  pre::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #f9e9be;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5); }

p code, ul code, ol code {
  background-color: #f3f1ec;
  color: #454545;
  padding: 0 .2em;
  border: 1px solid #ebe8e0; }

div.box {
  background: red;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  border: 1px solid #9e0545;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45);
  -ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45);
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45);
  height: 40px;
  background-color: #f9438f;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9438f), color-stop(100%, #d0065a));
  background-image: -webkit-linear-gradient(top, #f9438f, #d0065a);
  background-image: -moz-linear-gradient(top, #f9438f, #d0065a);
  background-image: -ms-linear-gradient(top, #f9438f, #d0065a);
  background-image: -o-linear-gradient(top, #f9438f, #d0065a);
  background-image: linear-gradient(top, #f9438f, #d0065a);
  width: 40px; }
