//************************************************************************//
// Base Variables
//************************************************************************//

$blue: #2685F2;

$base-border-color:   #000;

$base-font-family:      "proxima-nova-soft", $font-stack-helvetica;
$base-font-family-alt:  $font-stack-helvetica;

$fase-font-size:      13px;
$fase-font-size-alt:  11px;

$base-font-color:     #333;
$base-font-color-alt: #CCC;

$base-link-color:     #de5c00;
$base-link-color-alt: $blue;

$base-background-color-blue: #494F57;
