<article id="asset-pipeline" data-type="setting">
  <header class="title-bar">
    <h2 class="title">Global Asset Pipeline</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/settings/_asset-pipeline.scss">View source</a>
  </header>
  <p>A boolean global setting for all functions that take the <code>$asset-pipeline</code> variable. It’s set to <code>false</code> by default.</p>

{% highlight scss %}
$asset-pipeline: true;
{% endhighlight %}
</article>
