<article id="asset-pipeline" data-type="setting">
  <header class="title-bar">
    <h2 class="title">Global Asset Pipeline</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/settings/_asset-pipeline.scss">View source</a>
  </header>
  <p>Boolean global setting for all functions that take <code>$asset-pipeline</code> variable. Setting default is <code>false</code></p>

{% highlight scss %}
$asset-pipeline: true;
{% endhighlight %}
</article>
