<article id="output-bourbon-deprecation-warnings" data-type="setting">
  <header class="title-bar">
    <h2 class="title">Output Bourbon Deprecation Warnings</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/settings/_deprecation-warnings.scss">View source</a>
  </header>

  <p>
    Enable or disable output of Bourbon&rsquo;s deprecation-related Sass
    warnings. This variable must be declared <em>before</em> importing Bourbon.
    Set to <code>true</code> by default.
  </p>

{% highlight scss %}
$output-bourbon-deprecation-warnings: true;
{% endhighlight %}
</article>
