<article id="output-bourbon-deprecation-warnings" data-type="setting">
  <header class="title-bar">
    <h2 class="title">Output Bourbon Deprecation Warnings</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/settings/_deprecation-warnings.scss">View source</a>
  </header>

  <p>
    Upgrading a Sass library to the next major version in your project can be a
    non-trivial task.
  </p>
  <p>
    If you choose not to upgrade, you can reduce pollution of your logs by
    disabling the output of Bourbon&rsquo;s deprecation-related Sass warnings.
  </p>
  <p>
    This variable must be declared <em>before</em> importing Bourbon.
  </p>

{% highlight scss %}
$output-bourbon-deprecation-warnings: false;

@import "bourbon";
{% endhighlight %}
</article>
