<article id="em-base" data-type="setting">
  <header class="title-bar">
    <h2 class="title">Global em-base</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/app/assets/stylesheets/settings/_px-to-em.scss">View source</a>
  </header>
  <p>Sets global base em size for the <code>px-to-em</code> and <code>px-to-rem</code> function. This should be the same size as your body <code>font-size</code>. Setting default is <code>16px</code></p>

{% highlight scss %}
$em-base: 14px;
{% endhighlight %}
</article>
