// Order of the includes matters, and it is: normal, bold, italic, bold+italic.

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: $asset-pipeline, $version: 1) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    @if $asset-pipeline == true {
      src: font-url('#{$file-path}.eot?v=#{$version}');
      src: font-url('#{$file-path}.eot?v={$version}#iefix')            format('embedded-opentype'),
           font-url('#{$file-path}.woff?v=#{$version}')                format('woff'),
           font-url('#{$file-path}.ttf?v=#{$version}')                 format('truetype'),
           font-url('#{$file-path}.svg?v=#{$version}##{$font-family}') format('svg');
    } @else {
      src: url('#{$file-path}.eot?v=#{$version}');
      src: url('#{$file-path}.eot?v=#{$version}#iefix')                format('embedded-opentype'),
           url('#{$file-path}.woff?v=#{$version}')                     format('woff'),
           url('#{$file-path}.ttf?v=#{$version}')                      format('truetype'),
           url('#{$file-path}.svg?v=#{$version}##{$font-family}')      format('svg');
    }
  }
}
