// Order of the includes matters, and it is: normal, bold, italic, bold+italic.

@mixin font-face(
  $font-family,
  $file-path,
  $weight: normal,
  $style: normal,
  $asset-pipeline: $asset-pipeline,
  $file-formats: eot woff ttf svg) {

  $font-url-prefix: font-url-prefixer($asset-pipeline);

  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    @if contains($file-formats, eot) {
      src: "#{$font-url-prefix}('#{$file-path}.eot') format('embedded-opentype')";
    }

    src: font-source-declaration(
      $font-family,
      $file-path,
      $asset-pipeline,
      $file-formats,
      $font-url-prefix
    );
  }
}
