@mixin prefixer ($property, $value,
                 $moz:    true,
                 $webkit: true,
                 $o:      false,
                 $ms:     false,
                 $spec:   true) {
  @if $moz    {    -moz-#{$property}: $value; }
  @if $webkit { -webkit-#{$property}: $value; }
  @if $o      {      -o-#{$property}: $value; }
  @if $ms     {     -ms-#{$property}: $value; }
  @if $spec   {         #{$property}: $value; }
}
