<!DOCTYPE html>
<html lang="en" class="{{ page.class }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
    <link rel="stylesheet" href="/stylesheets/docs.css">
    <script src="//use.typekit.net/icc0mhe.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/docs.js"></script>
  </head>
  <body class="{{ page.class }}">

    {{ content }}

    <script src="/js/waypoints.min.js"></script>
    <script src="/js/ticker.js"></script>
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1485842-21']);
      _gaq.push(['_setDomainName', 'bourbon.io']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
