<!DOCTYPE html>
<html lang="en" class="{{ page.class }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
    <link rel="stylesheet" href="/stylesheets/docs.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/docs.js"></script>
  </head>
  <body class="{{ page.class }}">

    {{ content }}

  </body>
</html>
