<article id="grid-width" data-type="function">
  <header class="title-bar">
    <h2 class="title">Grid-width</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_grid-width.scss">View source</a>
  </header>
  <p class="alert"><b>Deprecation Warning: </b>The <code>grid-width</code> has been moved to <a href="https://github.com/thoughtbot/neat/blob/272c70958e9f1f4d0a2d95a49780f3d310ffe8d4/app/assets/stylesheets/grid/_private.scss">Neat</a> and will be removed in the next major version release.</p>
  <p>Easily setup and follow a grid based design. Check out <a href="http://gridulator.com/">gridulator.com</a></p>
  <p>The <code>$gw-column</code> and <code>$gw-gutter</code> variables must be defined in your base stylesheet to properly use the grid-width function.</p>

{% highlight scss %}
$gw-column: 100px;          // Column Width
$gw-gutter: 40px;           // Gutter Width

div {
  width: grid-width(4);     // returns 520px;
  margin-left: $gw-gutter;  // returns 40px;
}
{% endhighlight %}
</article>
