<article id="linear-gradient-function"  data-type="function">
  <header class="title-bar">
    <h2 class="title">Linear Gradient</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/functions/_linear-gradient.scss">View source</a>
  </header>
  <p class="alert"><b>Deprecation Warning:</b> This function has been deprecated and will be removed in v5.0.</p>
  <p>Outputs a linear-gradient. Use in conjunction with the <a href="#background-image">background-image mixin.</a> The function takes the same arguments as the <a href="#linear-gradient">linear-gradient mixin</a>.</p>

{% highlight scss %}
@include background-image(linear-gradient(white 0, yellow 50%, transparent 50%));
{% endhighlight %}

  <h3>Demo</h3>
  <section class="demo">
  </section>
</article>
