<article id="modular-scale" data-type="function">
  <header class="title-bar">
    <h2 class="title">Modular Scale</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_modular-scale.scss">View Source</a>
  </header>

  <p>This function increments up or down a defined scale, then returns an adjusted value. This helps establish consistent measurements and spacial relationships throughout your project. We provide a list of commonly used scales as <a href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_modular-scale.scss">pre-defined variables</a>.</p>

{% highlight scss %}
div {
  // Increment two steps up the default scale
  font-size: modular-scale(2); // returns: 1.77689em

  // Increment one step down the default scale
  font-size: modular-scale(-1); // returns: 0.75019em

  // Increment three steps up the default scale, with a base value of 2em
  font-size: modular-scale(3, 2em); // returns: 4.73719em
}
{% endhighlight %}

  <p>The default scale is the perfect fourth (<code>1.333</code>), which you can globally override:</p>

{% highlight scss %}
$modular-scale-ratio: $golden;
$modular-scale-base: 1.2em;

div {
  font-size: modular-scale(2); // returns: 3.14151em
}

div {
  font-size: modular-scale(3, 2em, 1.234); // returns: 3.75816em
}
{% endhighlight %}

  <p>The function also supports double-stranded scales by passing it two base values.</p>

{% highlight scss %}
div {
  font-size: modular-scale(3, 1em 1.6em, $major-seventh); // returns: 3em
}
{% endhighlight %}

  <p>Note: <em>The function can be wrapped in Sass’s <code>abs()</code>, <code>floor()</code>, or <code>ceil()</code> functions to get the absolute value, round down or round up, respectively.</em></p>

  <p>Resources: <a href="//modularscale.com">modularscale.com</a> &amp; <a href="//goldenratiocalculator.com">goldenratiocalculator.com</a></p>
</article>
