<article id="px-to-em" data-type="function">
  <header class="title-bar">
    <h2 class="title">Pixels to Ems</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/functions/_px-to-em.scss">View source</a>
  </header>
  <p class="alert"><b>Deprecation Warning:</b> This function has been deprecated and will be removed in v5.0.</p>
  <p>Convert pixels to ems.</p>
  <p>For a relational value, the input is calculated based on a parent value. The default parent is <code>16px</code>.<br>The parent can be changed by passing an optional second value. Accepts unitless and pixel values for size.</p>
{% highlight scss %}
font-size: em(12);
font-size: em(12, 24);
{% endhighlight %}
  <h3>CSS Output</h3>
{% highlight scss %}
font-size: 0.75em;
font-size: 0.5em;
{% endhighlight %}
</article>
