<article id="px-to-rem" data-type="function">
  <header class="title-bar">
    <h2 class="title">Pixels to Rems</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_px-to-rem.scss">View source</a>
  </header>
  <p>Convert pixels to rems.</p>
  <p>This assumes 1rem is 16px. You can override this by defining a new size for the <code>$em-base</code>.</p>
{% highlight scss %}
font-size: rem(12);
{% endhighlight %}
  <h3>CSS Output</h3>
{% highlight scss %}
font-size: 0.75rem;
{% endhighlight %}
</article>
