<article id="radial-gradient-function" data-type="function">
  <header class="title-bar">
    <h2 class="title">Radial Gradient</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_radial-gradient.scss">View source</a>
  </header>
  <p>Outputs a <code>radial-gradient</code>. Use in conjunction with the <a href="#background-image">background-image mixin.</a> The function takes the same arguments as the <a href="#radial-gradient">radial-gradient mixin</a>.</p>

{% highlight scss %}
@include background-image(radial-gradient(#1e5799, #3dc3d1));
@include background-image(radial-gradient(50% 50%, circle cover, #1e5799, #3dc3d1));
@include background-image(radial-gradient(50% 50%, circle cover, #eee 10%, #1e5799 30%, #efefef));
{% endhighlight %}

  <h3>Demo</h3>
  <section class="demo">
  </section>
</article>
