<article id="strip-units" data-type="function">
  <header class="title-bar">
    <h2 class="title">Strip-units</h2>
    <a class="view-source" href="https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/functions/_strip-units.scss">View source</a>
  </header>
  <p>This strips the units from a value. It's used as a helper in the <a href="#px-to-em">Pixel to Ems</a> and <a href="#px-to-rem">Pixel to Rems</a> functions.

{% highlight scss %}
$dimension: strip-units(12px);
{% endhighlight %}

<h3>CSS Output</h3>
{% highlight scss %}
$dimension: 12;
{% endhighlight %}
</article>

