<article id="unpack" data-type="function">
  <header class="title-bar">
    <h2 class="title">Unpack</h2>
    <a class="view-source" href="//github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/functions/_unpack.scss">View source</a>
  </header>
  <p class="alert"><b>Deprecation Warning:</b> This function has been deprecated and will be removed in v5.0.</p>
  <p>This is a shorthand for converting one to three dimensions into their four-value syntax. It’s used in the <a href="#position">position</a> mixin.</p>

{% highlight scss %}
margin: unpack(1em 2em);
{% endhighlight %}

<h3>CSS Output</h3>
{% highlight scss %}
margin: 1em 2em 1em 2em;
{% endhighlight %}
</article>
